<div class="order-search">
  <!-- 搜索 -->
  <div class="transaction-information">
    <div class="imss-bj"></div>
    <div class="im-suosou">
      <div class="imss-box">
        <p>订单类型</p>
        <div class="imsall-btnbox">
          <span class="active">白银</span>
          <span>精矿整单</span>
          <span>精矿子单</span>
        </div>
      </div>
      <div class="imss-box">
        <p>订单状态</p>
        <div class="imsall-btnbox">
          <span class="active">采购</span>
          <span>销售</span>
        </div>
      </div>
      <div class="imss-box">
        <p>合同编号</p>
        <div class="imsall-btnbox">
          <input type="text" placeholder="请输入合同编号">
        </div>
      </div>
      <div class="imss-box imsa-times">
        <p>日期</p>
        <div class="imsall-btnbox">
          <div class="imsa-timebox"><input type="text" placeholder="2018-07-21" readonly></div>
          <em>~</em>
          <div class="imsa-timebox"><input type="text" placeholder="2018-07-21" readonly></div>
        </div>
      </div>
      <div class="imss-box">
        <p>订单编号/商品名称</p>
        <div class="imsall-btnbox">
          <input type="text" placeholder="请输入快商品名称或订单编号">
        </div>
      </div>
      <div class="imss-footbox">
        <div class="imssbtn-box">
          <a href="javascript:;;" onclick="imReset()">重置</a>
          <a href="javascript:;;" class="imss-wcbtn">完成</a>
        </div>
      </div>
    </div>
  </div>
</div>