<div class="order-search">
  <div class="os-top">
    <span class="c6">历史搜索：</span>
    <span>白银、金贵、订单编号WWW9527</span>
  </div>
  <div class="order">
      <div class="o-big">
          <ul class="o-box">
  
              <%for(var i=0;i<4;i++){%>
              <li class="o-boxli">
                  <p class="o-bxp">
                      <span>湖南马上银工业互联网平台</span>
                      <span class="fs18">2017-10-21   10:31:11</span>
                  </p>
                  <table class="o-bxtab" cellpadding="0" cellspacing="0" >
                      <tbody>
                          <tr>
                              <td class="o-tda" rowspan="5">
                                  <p class="fs30">白银9999</p>
                                  <span class="o-tdasp">整</span>
                              </td>
                              <td class="o-tdb">订单编号</td>
                              <td class="" colspan="3">XHSH01Ag18030800272018</td>
                          </tr>
                          <tr>
                              <td class="o-tdb">总价</td>
                              <td class="red o-tdc" >2980600元</td>
                              <td class=" o-tdd" >数量</td>
                              <td >500kg</td>
                          </tr>
                          <tr>
                              <td class="o-tdb">单价</td>
                              <td class="red o-tdc" >29800元</td>
                              <td class=" o-tdd" >结算方式</td>
                              <td >现款现货</td>
                          </tr>
                          <tr>
                              <td class="o-tdb">当前状态</td>
                              <td colspan="3">合同确认成功（等待供方签署合同）</td>
                          </tr>
                          <tr>
                              <td class="o-tde" colspan="4">
                                  <a class="btna" href="javascript:void(0)">需方签署合同</a>
                                  <a class="btnb" href="javascript:void(0)">查看详情</a>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </li>
              <%}%>
          </ul>
      </div>
  </div>

  <!-- 搜索 -->
  <div class="transaction-information">
    <div class="imss-bj"></div>
    <div class="im-suosou">
      <div class="imss-box">
        <p>订单类型</p>
        <div class="imsall-btnbox">
          <span class="active">白银</span>
          <span>精矿整单</span>
          <span>精矿子单</span>
        </div>
      </div>
      <div class="imss-box">
        <p>订单状态</p>
        <div class="imsall-btnbox">
          <span class="active">采购</span>
          <span>销售</span>
        </div>
      </div>
      <div class="imss-box">
        <p>合同编号</p>
        <div class="imsall-btnbox">
          <input type="text" placeholder="请输入合同编号">
        </div>
      </div>
      <div class="imss-box imsa-times">
        <p>日期</p>
        <div class="imsall-btnbox">
          <div class="imsa-timebox"><input type="text" placeholder="2018-07-21" readonly></div>
          <em>~</em>
          <div class="imsa-timebox"><input type="text" placeholder="2018-07-21" readonly></div>
        </div>
      </div>
      <div class="imss-box">
        <p>订单编号/商品名称</p>
        <div class="imsall-btnbox">
          <input type="text" placeholder="请输入快商品名称或订单编号">
        </div>
      </div>
      <div class="imss-footbox">
        <div class="imssbtn-box">
          <a href="javascript:;;" onclick="imReset()">重置</a>
          <a href="javascript:;;" class="imss-wcbtn">完成</a>
        </div>
      </div>
    </div>
  </div>
</div>