<div class="launch-settlement">
        <div class="cp-tips">
            <i class="gtIcon"></i>
            <span>温馨提示：请向下滑动查看详情信息。</span>
        </div>
        <ul class="ts-ula">
            <li class="ts-lia">
                <i class="ts-liai"></i>
                <span class="c6 fs30">码单结算</span>
            </li>
            <li class="ts-lia two">
                <span>订单重量</span>
                <span class="c6 fs30">400.000kg</span>
            </li>
            <li class="ts-lia two">
                <span>码单重量</span>
                <span class="c6 fs30">391.222kg</span>
            </li>
            <li class="ts-lia two">
                <span>合同的单价</span>
                <span class="c6 fs30">3652元/kg</span>
            </li>
            <li class="ts-lia two">
                <span>合同签订金额</span>
                <span class="red fs30">35652222.00元</span>
            </li>
            <li class="ts-lia two">
                <span>订单实际金额</span>
                <span class="red fs30">35652222.00元</span>
            </li>
            <li class="ts-lia two">
                <span>已支付的金额</span>
                <span class="red fs30">35652222.00元</span>
            </li>
            <li class="ts-lia two">
                <span>订单支付时间</span>
                <span class="c6 fs30">2018-10-10</span>
            </li>
            <li class="ts-lia two">
                <span>最晚提货时间</span>
                <span class="c6 fs30">2018-10-10</span>
            </li>
            <li class="ts-lia two">
                <span>实际提货时间</span>
                <span class="c6 fs30">2018-10-10</span>
            </li>
            <li class="ts-lia two">
                <div>
                    <span>差价</span>
                    <p>
                        <i class="gtIcon"></i>
                        <span class="red fs18">提示：差价=码单的重量*合同单价-已支付的金额</span>
                    </p>
                </div>
                <span class="red fs30">3565.00元</span>
            </li>
            <li class="ts-lia two">
                <span>小计</span>
                <span class="red fs30">3565.00元</span>
            </li>
        </ul>
        <ul class="ts-ula">
            <li class="ts-lia">
                <i class="ts-liai"></i>
                <span class="c6 fs30">仓储费结算</span>
            </li>
            <li class="ts-lia two">
                <span>是否支付仓储费</span>
                <div class="slc-box active">
                    <input type="text" readonly data-source="" class="slc-curr c6 fs30" value="" placeholder="请选择">>
                    <ul class="slc-list">
                        <li data-source="0" class="">线下已支付</li>
                        <li data-source="1">线下未支付</li>
                    </ul>
                </div>
            </li>
            <li class="ts-lia two">
                <span>仓储费用</span>
                <span class="c6 fs30 ls-inpbx">
                    <input class="fs30" type="text" placeholder="请输入仓储费用">
                </span>
            </li>
        </ul>
        <ul class="ts-ula">
            <li class="ts-lia">
                <i class="ts-liai"></i>
                <span class="c6 fs30">其他费用结算</span>
            </li>
            <li class="ts-lia two">
                <span>金额</span>
                <span class="c6 fs30 ls-inpbx">
                    <input class="fs30" type="text" placeholder="请输入其他费用">
                </span>
            </li>
            <li class="ts-lia two">
                <span>备注</span>
                <span class="c6 fs30 ls-inpbx">
                    <input class="fs30" type="text" placeholder="请输入其他费用备注">
                </span>
            </li>
        </ul>
        <ul class="ts-ula">
            <li class="ts-lia">
                <i class="ts-liai"></i>
                <span class="c6 fs30">已支付金额</span>
            </li>
            <li class="ts-lia two">
                <span>已支付金额</span>
                <span class="c6 fs30 ls-inpbx">
                    <input class="fs30" type="text" placeholder="请输入已支付金额">
                </span>
            </li>
        </ul>
        <ul class="ts-ula">
            <li class="ts-lia">
                <i class="ts-liai"></i>
                <span class="c6 fs30">合计</span>
            </li>
            <li class="ts-lia two">
                <div>
                    <span>合计金额</span>
                    <p>
                        <i class="gtIcon"></i>
                        <span class="red fs18">提示：合计金额=差价+退款金额+仓储费用+其他费用</span>
                    </p>
                </div>
                <span class="red fs30">0.00元</span>
            </li>
            <li class="ts-lia two">
                <div>
                    <span>需支付</span>
                    <p>
                        <i class="gtIcon"></i>
                        <span class="red fs18">提示：需支付金额=合计金额-已支付金额</span>
                    </p>
                </div>
                <span class="red fs30">0.00元</span>
            </li>
        </ul>

        <div class="dc-bt">
            <a class="dc-bta fs30" href="javascript:void(0)">下一步</a>
        </div>
    </div>
   