<div class="register-list">
    <ul class="rl-box">

        <%for(var i=0;i<4;i++){%>
        <li class="rl-boxli">
            <table class="rl-bxtab" cellpadding="0" cellspacing="0" >
                <tbody>
                    <tr>
                        <td class="rl-tda" rowspan="5">
                            <p class="fs30">白银9999</p>
                            <span class="rl-tdasp">整</span>
                        </td>
                        <td class="rl-tdb">订单编号</td>
                        <td class="" colspan="3">XHSH01Ag18030800272018</td>
                    </tr>
                    <tr>
                        <td class="rl-tdb">总价</td>
                        <td class="red rl-tdc" >2980600元</td>
                        <td class=" rl-tdd" >数量</td>
                        <td >500kg</td>
                    </tr>
                    <tr>
                        <td class="rl-tdb">单价</td>
                        <td class="red rl-tdc" >29800元</td>
                        <td class=" rl-tdd" >结算方式</td>
                        <td >现款现货</td>
                    </tr>
                    <tr>
                        <td class="rl-tdb">当前状态</td>
                        <td colspan="3">合同确认成功（等待供方签署合同）</td>
                    </tr>
                    <tr>
                        <td class="rl-tde" colspan="4">
                            <a class="btna" href="javascript:void(0)">需方签署合同</a>
                            <a class="btnb" href="javascript:void(0)">查看详情</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
        <%}%>
    </ul>
</div>