<div class="register-list">
    <ul class="rl-box">

        <%for(var i=0;i<4;i++){%>
        <li class="rl-boxli">
            <table class="rl-bxtab" cellpadding="0" cellspacing="0" >
                <tbody>
                    <tr>
                        <td class="rl-tda" rowspan="5">
                            <p class="fs48">TD<span class="lv">+2</span></p>
                            <p class="red mt15 mb5">3870元/kg</p>
                            <p>品名：Ag99.99</p>
                        </td>
                        <td class="rl-tdb">规格</td>
                        <td class="rl-tdc" >9999</td>
                        <td class=" rl-tdd" >数量</td>
                        <td >500kg</td>
                    </tr>
                    <tr>
                        <td class="rl-tdb">商品属性</td>
                        <td class="rl-tdc" >纯银</td>
                        <td class=" rl-tdd" >结算方式</td>
                        <td >支持全部</td>
                    </tr>
                    <tr>
                        <td class="rl-tdb">是否上架</td>
                        <td class="rl-tdc" >否</td>
                        <td class=" rl-tdd" >挂单人</td>
                        <td >msy_kf01</td>
                    </tr>
                    <tr>
                        <td class="rl-tde" colspan="4"><em class="c9">最晚提货日期：</em>2018-06-25</td>
                    </tr>
                </tbody>
            </table>
            <div class="rl-btnbx">
                <a class="btna" href="javascript:void(0)">查看码单</a>
                <a class="btnb" onclick="mdfn()" href="javascript:void(0)">编辑</a>
                <a class="btnb" onclick="delfn()" href="javascript:void(0)">删除</a>
                <a class="btnb" onclick="sjfn()" href="javascript:void(0)">上架</a>
            </div>
        </li>
        <%}%>
    </ul>
    <a class="rl-bbtn" href="javascript:void(0)">下架</a>
</div>