<div class="financial-voucher">
        <ul class="li-menu-list li-menuBox">
            <li class="active" data-status="0"><a href="javascript:void(0)" >全部</a></li>
            <li data-status="1"><a href="javascript:void(0)">待确定收款</a></li>
            <li data-status="2"><a href="javascript:void(0)">已确定收款</a></li>
        </ul>
        
         <!-- 全部 -->
         <div class="li-pagebox active ">
                <%= voucher({type:'dqr'}) + voucher({type:'dqr'}) + voucher({type:'yqr'}) + voucher({type:'yqr'}) %>
          </div>
          <!-- 待确定收款 -->
         <div class="li-pagebox  ">
                <%for(var i=0;i<7;i++){%>
                    <%= voucher({type:'dqr'}) %>
                <%}%>
          </div>
          <!-- 已确定收款 -->
         <div class="li-pagebox  ">
                <%for(var i=0;i<7;i++){%>
                    <%= voucher({type:'yqr'}) %>
                <%}%>
          </div>
         
    </div>