<div class="platform-price">
    <ul class="cp-ul">
        <li>
            <span>实时TD价格</span>
            <span class="fs30 c6">3637.00元/kg</span>
        </li>
        <li>
            <span>订单数量</span>
            <span class="fs30 c6">363kg</span>
        </li>
        <li>
            <span>最晚提货时间</span>
            <span class="fs30 c6">2018-09-10</span>
        </li>
        <li>
            <span>单价</span>
            <div>
                <span class="fs30 c6">3637.00元/kg</span>
                <a class="pp-sjbtn" href="javascript:void(0)">锁价</a>
            </div>
        </li>
        <li>
            <span>首次议价的升贴水</span>
            <span class="fs30 c6">+6</span>
        </li>
        <li>
            <span>最终单价</span>
            <div class="pp-stpbox">
                <span class=" lv c-jian">-</span>
                <input type="text" class=" c-inputGm" value="3636.00">
                <span class=" red c-jia">+</span>
            </div>
        </li>
    </ul>
    <div class="pp-bt">
        <a class="pp-bta" href="javascript:void(0)">返回订单中心</a>
        <a class="pp-btb" onclick="qrtk()" href="javascript:void(0)">提交</a>
    </div>
</div>