<div class="money-detail">
    <ul class="md-top">
        <li class="bdr">
            <span>2018.11.25-2.18.12.12</span>
            <i class="md-xlIcon"></i>
        </li>
        <li>
            <span>资金流向</span>
            <i class="md-xlIcon"></i>
        </li>
    </ul>
    <div class="md-tbig">
        <div class="md-tbx">
            <div class="md-tday">
                <div  class="md-tdayl">
                    <span class="md-tdaysa">开始时间</span>
                    <span class="md-tdaysb">2017-01-01</span>
                </div>
                <div  class="md-tdayl">
                    <span class="md-tdaysa">结束时间</span>
                    <span class="md-tdaysb">2017-01-01</span>
                </div>
            </div>
            <a class="md-tbxaa" href="javascript:void(0)">确定</a>
        </div>
        <div class="md-tbx ">
            <div class="md-tbxb">
                <a class="md-sa active" href="javascript:void(0)">全部</a>
                <a class="md-sa" href="javascript:void(0)">入金</a>
                <a class="md-sa" href="javascript:void(0)">出金</a>
            </div>
        </div>
    </div>
    <div class="md-je">
        <p class="md-jep">筛选结果：<span class="fs36 red">4</span>条</p>
        <div class="md-jebx">
            <div>
                <p class="red fs48">+10000.00<span class="fs24">元</span></p>
                <p class="c9 mt10">总收入金额</p>
            </div>
            <div>
                <p class="lv fs48">-10000.00<span class="fs24">元</span></p>
                <p class="c9 mt10">总支出金额</p>
            </div>
        </div>
    </div>
    <ul class="md-mx">
        <li>
            <p class="c9 mb10">1月</p>
            <div class="md-mxbx">
                <p class="md-mxbxp">
                    <span class="c6">出金</span>
                    <span class="lv">-100000.00元</span>
                </p>
                <p class="c9 fs18">2018-05-05 12:10</p>
            </div>
        </li>
        <li>
            <p class="c9 mb10">2018年05月</p>
            <div class="md-mxbx">
                <p class="md-mxbxp">
                    <span class="c6">入金</span>
                    <span class="red">+100000.00元</span>
                </p>
                <p class="c9 fs18">2018-05-05 12:10</p>
            </div>
        </li>
    </ul>
</div>