<div class="about-list">
  <div class="al-blacks">
    <a href="javascript:history.go(-1);"></a>
  </div>
  <div class="al-headbox">
      <div class="alh-tbicon">
          <img src="./front/images/icon/xiaomah.png" alt="">
      </div>
      <p class="alh-txt">马上银 1.0.0</p>
  </div>
  <div class="al-listbox">
    <a href="/"><span>官方网站</span></a>
    <a href="http://d7.cto.shovesoft.com/msyapp/index.html#/xkagreement"><span>用户许可协议</span></a>
    <a href="http://d7.cto.shovesoft.com/msyapp/index.html#/yspolicy"><span>隐私政策</span></a>
    <a href="http://d7.cto.shovesoft.com/msyapp/index.html#/helplist"><span>帮助中心</span></a>
    <a href="lzxenterpriseIntroduction.html"><span>企业介绍</span></a>
    <a href="javascript:;;"><span>招贤纳士</span></a>
    <a href="javascript:;;"><span>联系我们</span></a>
  </div>
</div>