<div class="code-build">
    <div class="g-header">
      <span>说明：</span>
      <div>当前码单正在制作中，大概1-5分钟。若等待时间过长，请咨询在线客服。</div>
    </div>
    <div class="g-section">
      <div class="gs-img">
        <img src="./front/images/icon/jixiangwu.png" alt="">
      </div>
      <p>码单生成中....</p>
    </div>
    <div class="cb-foot">
      <a href="javascript:void(0)">返回订单</a>
      <a href="javascript:void(0)">已生成，去确认</a>
    </div>
  </div>