<div class="generation">
  <div class="g-header">
    <span>说明：</span>
    <div>当前码单正在制作中，大概1-5分钟。若等待时间过长，请咨询在线客服。</div>
  </div>
  <div class="g-section">
    <div class="gs-img">
      <img src="./front/images/icon/jixiangwu.png" alt="">
    </div>
    <p>码单生成中....</p>
  </div>
  <div class="g-foot">
    <a href="javascript:;;">返回订单中心等等</a>
  </div>
</div>