<div class="check-code">
  <div class="signing-success">
    <div class="ss-box">
      <img src="./front/images/icon/jixiangwu.png" alt="">
      <p>委托函签署成功，请到订单中心进行完成提货！</p>
    </div>
  </div>
  <div class="cc-foot-btn">
    <a href="javascript:;;">返回订单中心</a>
  </div>
</div>