<div class="contract-confimation">
    <!-- 步骤 -->
    <div class="cc-header">
        <%= tcm({num:4}) %>
    </div>
    <!-- 合同 -->
    <div class="cc-htBox">
      
    </div>
    <!-- 尾部确认 -->
    <div class="cc-foot">
      <a href="javasctipt:;;" class="ccf-btn">返回订单中心</a>
    </div>
  </div>