<div class="introduction-page">
  <div class="ip-headar">
    <a href="javascript:;;" onclick="javascript:history.back(-1);">
      <button class="ip-black" >返回</button>
    </a>
    <div class="iph-title">
      <div class="ipht-img"><img src="./front/images/icon/l-apptitle.png" alt=""></div>
      <div>最接地气的白银全产业链电商</div>
    </div>
  </div>
  <!-- Swiper -->
  <div class="ip-swiperbox">
    <div class="swiper-container swiper-container-zp">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="ipss-box">
            <div>
              <div class="ipss-img">
                <img src="./front/images/app-sx.png" alt="">
              </div>
              <p>云服务优化产业生态   大数据引领产业变革</p>
              <a href="javascript:;;" class="ipss-down">免费下载</a>
            </div>
            <div class="ipss-lbsec">
              <div class="swiper-container swiper-container-one">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="ipswiper-img"><img src="./front/images/swiper-img01.png"></div>
                    </div>
                    <div class="swiper-slide">
                      <div class="ipswiper-img"><img src="./front/images/swiper-img02.png"></div>
                    </div>
                    <div class="swiper-slide">
                      <div class="ipswiper-img"><img src="./front/images/swiper-img03.png"></div>
                    </div>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination swiper-pagination-one"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-prev "></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-page-two">
              <h1>马上银APP</h1>
              <p class="spt-txt">马上银为白银上下游企业提供“线上成交、就近配货”的全流程解决方案。围绕在线供应链服务、行情资讯、期现结合工具、智慧物流、产业特色采购与销售等服务，构建开放、共享、公平、互惠的白银全产业链服务平台。</p>
              <div class="spt-page">
                <div class="spt-img"><img src="./front/images/swiper-icon-page-01.png" alt=""></div>
                <p class="spt-title">让买白银像买白菜一样容易</p>
                <p class="spt-txt">让买矿像买菜一样简单</p>
              </div>
              <div class="spt-page">
                <div class="spt-img"><img src="./front/images/swiper-icon-page-02.png" alt=""></div>
                <p class="spt-title">行情资讯</p>
                <p class="spt-txt">更快、更准</p>
              </div>
              <div class="spt-page">
                <div class="spt-img"><img src="./front/images/swiper-icon-page-03.png" alt=""></div>
                <p class="spt-title">上海 · 深圳 · 郴州</p>
                <p class="spt-txt">线上成交 · 就近配货</p>
              </div>
          </div>
        </div>
        <div class="swiper-slide ">
          <div class="swiper-page-three">
            <h1>商城</h1>
            <h2>报价灵活，以TD、沪银主力，任君选择</h2>
            <p class="spt-txt">货源地充足，就近配货，包含上海周边、广东深圳、华南郴州等等;</p>
            <p class="spt-txt">支持整单，散单拆分购买;</p>
            <p class="spt-txt">商品分享，实时了解最新产品信息;</p>
            <div class="spt-foot-img">
              <img src="./front/images/l-ad03.png" alt="">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-page-four">
            <div class="spf-img">
              <img src="./front/images/l-ad04.png" alt="">
            </div>
            <div class="spf-txt">
              <h1>行情资讯</h1>
              <p>1、实时白银、沪银主力行情价格</p>
              <p>2、直观显示短期白银基差数据趋势</p>
              <p>3、白银走势分析、白银当地企业今日报价</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-page-five">
            <div class="spfi-box">
                <h1>安全 · 便捷</h1>
                <p>电子签章、电子合同</p>
                <p>议价、一口价按需下单</p>
                <p>在线客服，响应迅速</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
