
<div class="transaction-information">
  <!-- 自营_最新成交信息(精矿) -->
  <div class="mi-zybox">
    <div class="miz-title">
      <span>当前成交信息为最新</span>
      <span onclick="sxAlert()" class="miz-sx">筛选<i class="saixuan"></i></span>
    </div>
    <ul class="mizn-msgbox">
      <%for(var i =0;i<6;i++){%>
        <li>
          <div class="mil-page">
            <em>白银APPcs/国际1#/99.99%&nbsp;&nbsp;&nbsp;&nbsp;<span>500.0000KG</span></em>
            <span class="mil-bor">当月票</span>
          </div>
          <div class="mil-ck"> 
            <p class="money">
              <em class="miz-yuan">整</em>
              <span>4294</span>
            </p>
            <p class="br">上海-平飞</p>
            <p>金贵</p>
          </div>
          <div class="mil-tiems">成交时间：2017-11-20</div>
        </li>
      <%}%>
    </ul>
  </div>
  <!-- 搜索 -->
  <div class="imss-bj"></div>
  <div class="im-suosou">
    <div class="imss-box">
      <p>品牌</p>
      <div class="imsall-btnbox">
        <span class="active">全部</span>
        <span>金贵</span>
        <span>宇腾</span>
        <span>祝融</span>
        <span>金旺</span>
        <span>贵研</span>
        <span>招金</span>
        <span>长友</span>
        <span>丰越</span>
      </div>
    </div>
    <div class="imss-box">
      <p>产品分类</p>
      <div class="imsall-btnbox">
        <span class="active">全部</span>
        <span>整单</span>
        <span>散单</span>
        <span>仓单</span>
      </div>
    </div>
    <div class="imss-box">
      <p>仓库</p>
      <div class="imsall-btnbox">
        <span class="active">全部</span>
        <span>上海-飞平</span>
        <span>深圳-飞平</span>
        <span>郴州</span>
      </div>
    </div>
    <div class="imss-box">
      <p>开票明细</p>
      <div class="imsall-btnbox">
        <span class="active">全部</span>
        <span>当月票</span>
        <span>非当月票</span>
      </div>
    </div>
    <div class="imss-footbox">
      <div class="imssbtn-box">
        <a href="javascript:;;" onclick="imReset()">重置</a>
        <a href="javascript:;;" class="imss-wcbtn">完成</a>
      </div>
    </div>
  </div>
</div>