<div class="to-review">
    <div class="cp-tips">
        <i class="gtIcon"></i>
        <span>温馨提示：以下入金操作只能在PC上进行！</span>
    </div>
    <ul class="pp-ula">
        <li class="pp-lia ">1、请按照本账号的绑定类型选择以下复核方式：</li>
        <li class="pp-lia ">企业网银用户 <span class="coloreb6">(支持)</span></li>
        <li class="pp-lia ">他行企业客户和个人用户 <span class="coloreb6">(支持)</span></li>
    </ul>
    <div class="dc-bt">
        <a class="dc-bta fs30" href="javascript:void(0)">我已完成复核操作</a>
    </div>
</div>