<div class="qr-code">
  <div class="qc-box-page">
    <div class="qcb-title">
      <p>1、点击“保存”，自动保存到系统相册；</p>
      <p>2、点击“分享”，可以转发到微信、钉钉和QQ；</p>
      <p>3、最晚提货时间</p>
    </div>
    <div class="qcb-img">
      <img src="./front/images/rqCode.png" alt="">
    </div>
    <div class="qcb-link">
      <p>二维码有效期：2018/03/12 23:59:59</p>
      <a href="javascript:;;">保存</a>
    </div>
  </div>
  <div class="qc-fx-page">
    <div class="qcf-title">
      <span>分享到</span>
    </div>
    <ul class="qcf-list">
      <li>
        <a href="javascript:;;">
          <div class="qcfl-img">
            <img src="./front/images/icon/wxIcon.png" alt="">
          </div>
          <p>微信</p>
        </a>
      </li>
      <li>
        <a href="javascript:;;">
          <div class="qcfl-img">
            <img src="./front/images/icon/ddIcon.png" alt="">
          </div>
          <p>钉钉</p>
        </a>
      </li>
      <li>
        <a href="javascript:;;">
          <div class="qcfl-img">
            <img src="./front/images/icon/QQIcon.png" alt="">
          </div>
          <p>QQ</p>
        </a>
      </li>
    </ul>
  </div>
</div>