<script>
  

  $(function(){
    // 关闭搜索
    $(".imss-bj").on("click",function(){
      closesos()
    })

  })
   // 选择
  $(".imsall-btnbox span").on("click",function(){
    $(this).addClass("active").siblings().removeClass("active")
  })
  // 搜索
  function sxAlert(){
    $(".imss-bj").addClass("active")
    $(".im-suosou").animate({right:"0"})
  }
  // 关闭搜索
  function closesos(){
    setTimeout(function(){
      $(".imss-bj").removeClass("active")
    },500)
    $(".im-suosou").animate({right:"-70%"})
  }

  // 重置
  function imReset(){
    // 筛选变成全部 第一个
    $(".imsall-btnbox").each(function(i,v){
      $(".imsall-btnbox").eq(i).find("span").eq(0).addClass("active").siblings().removeClass("active")
    })
  }

  // 上拉添加html
  function getHtmlTemp(res){
    var _html = '<li>'+
          '<div class="mil-page">'+
            '<em>new铅Pd>50%、银Ag≥1000克、金Au≥1克</em>'+
            '<span class="mil-bor">年结算</span>'+
          '</div>'+
          '<div class="mil-ck"> '+
            '<p class="money">'+
              '<em class="miz-yuan">整</em>'+
              '<span>4294</span>'+
            '</p>'+
            '<p class="br">上海-平飞</p>'+
            '<p>金贵</p>'+
          '</div>'+
          '<div class="mil-tiems">成交时间：2017-11-20</div>'+
        '</li>';
    return _html
  }
  $(function(){
    // 初始化上拉加载
    onReachBottom.init('.mizn-msgbox',function () {
      $.ajax({
        url: './front/mockdata/lzxinformation.json',
        type: 'GET',
        success: function (res) {
          var pages = res.pages;
          for (var i = 0; i < pages.length; i++) {
            $(".mizn-msgbox ").append(getHtmlTemp(pages[i]))
          }
          // hideReachLoading();
          hideLoading();
          onReachBottom.hasNextPage = res.hasNextPage;//获取是否有下一页数据
          onReachBottom.currPage = res.currPage;//获取当前页数
          if(!onReachBottom.hasNextPage){
            showNullReach($(".mizn-msgbox"))
          }
        }
      })
    })
  })
</script>