
<script>
    // 上拉加载html拼接方法
    function getHtmlTemp(res) {
      var _html = '<div class="ri-section">'+
    '<div class="ris-page">'+
        '<div>'+
            '<span>订单编号：</span>'+
            '<em>1111</em>'+
            '</div>'+
            '<div>'+
        '<span>合同编号：</span>'+
        '<em>XH011807240003</em>'+
      '</div>'+
    '</div>'+
    '<div class="ris-page">'+
      '<div>'+
        '<span>合同数量：</span>'+
        '<em>1002.6356kg</em>'+
      '</div>'+
      '<div>'+
        '<span>合同金额：</span>'+
        '<em class="ris-red">3669000.00元</em>'+
      '</div>'+
    '</div>'+
    '<div class="ris-page">'+
      '<div>'+
        '<span>已支付金额：</span>'+
        '<em class="ris-red">3669000.00元</em>'+
      '</div>'+
      '<div>'+
        '<span>已支付金额：</span>'+
        '<em class="ris-red">3669000.00元</em>'+
      '</div>'+
    '</div>'+
    '<div class="ris-footbox">'+
      '<div class="ris-link">'+
        '<span class="sec-curr">查看码单</span>'+
        '<div class="sec-box">'+
          '<div class="sec-list">'+
            '<a href="javascript:;;">码单1</a>'+
            '<a href="javascript:;;">码单2</a>'+
          '</div>'+
        '</div>'+
      '</div>'+
      '<div class="ris-link">'+
        '<span class="sec-curr">查看委托函</span>'+
        '<div class="sec-box">'+
          '<div class="sec-list">'+
            '<a href="javascript:;;">委托函1</a>'+
            '<a href="javascript:;;">委托函2</a>'+
          '</div>'+
        '</div>'+
      '</div>'+
      '<a class="ris-link" href="javascript:;;">查看合同</a>'+
    '</div>'+
  '</div>'
      return _html;
    }
  
    $(function () {
      // 初始化上拉加载
      onReachBottom.init('.relate-information',function () {
        $.ajax({
          url: './front/mockdata/lzxcontrolInvoices.json',
          type: 'GET',
          success: function (res) {
            var pages = res.pages;
            for (var i = 0; i < pages.length; i++) {
              $(".relate-information").append(getHtmlTemp(pages[i]))
            }
            hideReachLoading();
            hideLoading();
            onReachBottom.hasNextPage = res.hasNextPage;//获取是否有下一页数据
            onReachBottom.currPage = res.currPage;//获取当前页数
            if(!onReachBottom.hasNextPage){
              showNullReach($(".relate-information"))
            }
          }
        })
      })
    })

  $(function(){
    $(document).on("click", ".sec-curr", function(e){
      $(".sec-box").removeClass("active");
      $(this).parent().find(".sec-box").addClass("active");
      e.stopPropagation()
    })
    $(document).on("click",function(e){
      $(".sec-box").removeClass("active");
    })

    mockSelect();
  })
</script>