<div class="add-invoice">
  <ul class="ai-listbox">
    <li>
      <span>开具类型</span>
      <div>
        <input type="text" value="企业" placeholder="开具类型" readonly>
      </div>
    </li>
    <li>
      <span>发票抬头</span>
      <div>
        <input type="text" value="湖南郴州马上银科技有限公司" placeholder="请填写营业执照上的全称" readonly>
      </div>
    </li>
    <li>
      <span>发票类型</span>
      <div>
        <input type="text" value="增值税发票" placeholder="增值税发票" readonly>
      </div>
    </li>
    <li>
      <span>税务登记证号</span>
      <div>
        <input type="text" value="FXG32424242412412" placeholder="请填写税务登记上的编号" readonly>
      </div>
    </li>
    <li class="ail-tip">
      <div class="alit-page">
          <i class="gtIcon"></i>
          <span>提示：<em>请与贵公司财务人员核实并填写准确的税务登记证号，以免影响您发票后续的使用。</em></span>
      </div>
    </li>
    <li>
      <span>基本开户银行名称</span>
      <div>
        <input type="text" value="中国工商银行湖南郴州XXX支行" placeholder="请填写营业执照上的开户行名称" readonly>
      </div>
    </li>
    <li>
      <span>注册场所地址</span>
      <div>
        <input type="text" value="湖南省郴州市区XXXXXXX" placeholder="请填写营业执照上的地址" readonly>
      </div>
    </li>
    <li>
      <span>注册场固定电话</span>
      <div>
        <input type="text" value="0545-5488591" placeholder="请填写您公司的有效联系电话" readonly>
      </div>
    </li>
    <li>
      <span>财务联系人</span>
      <div>
        <input type="text" value="张三" placeholder="请填写您公司的有效财务联系人" readonly>
      </div>
    </li>
  </ul>
  <div class="ai-foot">
    <a href="javasctipt:;;" class="aif-bigbtn">返回</a>
  </div>
</div>