<div class="refundable-details">
    <div class="rd-top">
        <i class="rd-topi"></i>
        <span>订单编号：</span>
        <span class="c3">XH02SH1Ag1805080049</span>
    </div>
    <div class="rd-bx">
        <ul>
            <li>
                <span>产品编号：</span>
                <span class="c3">1234567899665</span>
            </li>
            <li>
                <span>发生时间：</span>
                <span class="c3">2018-05-08 12:12:10</span>
            </li>
            <li>
                <span>订单总金额：</span>
                <span class="c3">1234566元</span>
            </li>
            <li>
                <span>预付款金额：</span>
                <span class="c3">1234元</span>
            </li>
            <li>
                <span>审核原因：</span>
                <span class="c3">好贵啊</span>
            </li>
        </ul>
    </div>
    <div class="dc-bt">
        <a class="dc-bta fs30" href="javascript:void(0)">返回订单中心</a>
    </div>
</div>