
<div class="open-order">
  <div class="oo-top-tip">
    <i class="gtIcon"></i>
    <span>温馨提示：点击列表输入想要开票的金额。</span>
  </div>
  <ul class="oo-list">
    <%for(var i=0;i<7;i++){%>
    <li>
      <div onclick="openAlert(1,5000)">
        <div>可开票金额：<em class="ool-money">500,000,000.0元</em></div>
        <div class="ool-page">
          <div>已开票金额：<em>500,000.0元</em></div>
          <div>合同金额：<em>3,876,123,00元</em></div>
        </div>
        <div class="ool-page">
          <div>订单编号：<span>AG9999</span> </div>
          <div>合同编号：<span>FP-20180102201</span> </div>
        </div>
      </div>
      <div class="ool-btnbox">
        <a href="javascript:;;" class="on">查看订单</a>
        <a href="javascript:;;">查看合同</a>
      </div>
    </li>
    <%}%>
  </ul>

  <div class="oo-footbox">
    <div class="oof-tips">
      <i class="gtIcon"></i>
      <div class="oof-nrbox">
          <p>温馨提示：</p>
          <p>1. 当月订单在25号之后只能下个月才可以开取发票。</p>
          <p>2. 自2017.07.01起，申请普通发票需填写税号信息，否则将无法应税使用，请及时维护您的税号信息。</p>
          <p>3.您设置的企业类发票抬头，将锁定为您资金提现的户名。</p>
      </div>
    </div>
    <div class="cr-footbox">
      <a href="javascript:;;">取消操作</a>
      <a href="javascript:;;" class="cr-qed">去确认订单</a>
    </div>
  </div>

  <!-- 弹窗 -->
  <div class="oo-alert">
    <div class="ooa-zz"></div>
    <div class="ooa-box">
      <p class="ooa-title">请输入你需要开票的金额</p>
      <input type="text" class="ooaInput">
      <span>元</span>
      <div class="ooa-btn-box">
        <a href="javascript:;;" onclick="closeAlert()">取消开票</a>
        <a href="javascript:;;" class="ooa-red" onclick="gotoKp()">加入开票清单</a>
      </div>
    </div>
  </div>
</div>