<div class="personal-data">
  <div class="pd-listbox">
    <a href="javascript:;;">
      <span>头像</span>
      <div class="pdl-img">
        <img src="./front/images/icon/xtouxiang.png" alt="">
      </div>
    </a>
    <a href="javascript:;;">
      <span>性别</span>
      <div class="slc-box active">
        <input type="text" readonly data-source="0" class="slc-curr" value="男" placeholder="请选择">
        <ul class="slc-list">
          <li data-source="0" class="active">男</li>
          <li data-source="1">女</li>
        </ul>
      </div>
    </a>
    <a href="javascript:;;" class="nomore">
      <span>手机号</span>
      <em>13510625080</em>
    </a>
    <a href="javascript:;;">
      <span>密码</span>
      <em>修改密码</em>
    </a>
  </div>
</div>


