<div class="authority-management">
  <div class="am-box">
    <a href="javascript:;;">
      <i class="am-bmIcon"></i>
      <span>部门管理</span>
    </a>
    <a href="javascript:;;">
      <i class="am-glyIcon"></i>
      <span>管理员</span>
    </a>
    <a href="javascript:;;">
      <i class="am-splIcon"></i>
      <span>审批流程</span>
    </a>
  </div>
</div>