<div class="payment">
  <!-- 提示 -->
  <div class="p-header">
    <i class="gtIcon"></i>
    <span>注意：待付款的订单在<em>2小时</em>之内未完成付款，系统自动取消！</span>
  </div>
  <div class="p-section">
    <div class="ps-zfname">支付金额</div>
    <div class="ps-mondy">¥10,000,000.00</div>
    <div class="ps-xuanze">
      <span>请选择支付方式</span>
    </div>
    <div class="ps-zfbxo">
      <a href="javascript:;;">
        <div class="psz-pa"><img src="./front/images/icon/pinan.png" alt=""></div>
        <p>平安现货交易通</p>
      </a>
      <a href="javascript:;;">
        <div class="psz-xx"><img src="./front/images/icon/xianxia.png" alt=""></div>
        <p>线下支付</p>
      </a>
    </div>
  </div>
  <!-- 底部按钮 -->
  <div class="p-foot">
    <a href="javascipt:;;">取消并返回</a>
  </div>
</div>