<div class="pay-management">
    <ul class="pm-ula">
        <li class="pm-lia">
            <i class="pm-liai"></i>
            <span class="c6 fs30">账户明细</span>
        </li>
        <li class="pm-lia two">
            <span>平安账户总金额</span>
            <span class="red fs30">400222.00元</span>
        </li>
        <li class="pm-lia two">
            <span>账户可用余额</span>
            <span class="red fs30">400222.00元</span>
        </li>
        <li class="pm-lia two">
            <span>账户冻结余额</span>
            <span class="red fs30">400222.00元</span>
        </li>
    </ul>
    <div class="pm-bxa">
        <a class="pm-aa" href="javascript:void(0)">
            <i class="pm-ia"></i>
            <em>出入金明细</em>
        </a>
        <a href="javascript:void(0)">
            <i class="pm-ib"></i>
            <em>安全设置</em>
        </a>
    </div>
    <div class="pm-bxb">
        <a href="javascript:void(0)">
            <i class="pm-wa"></i>
            <em>我要入金</em>
        </a>
        <a href="javascript:void(0)">
            <i class="pm-wb"></i>
            <em>我要复核</em>
        </a>
        <a href="javascript:void(0)">
            <i class="pm-wc"></i>
            <em>我要出金</em>
        </a>
    </div>
</div>