
<div class="control-invoices">
  <div class="ci-box">
    <%for(var i=0;i<8;i++){%>
      <a href="lzxdetailsInvoice.html" class="cib-listpage">
        <div>
          <em>发票金额：</em>
          <span class="cli-bigmoney">500,000,000.0元</span>
        </div>
        <div class="cli-nav">
          <p class="cli-fw"><em>发票编号</em><span>FP-20180102201</span></p>
          <p><em>发票状态：</em><span>已开票</span></p>
        </div>
        <div class="cli-nav">
          <p class="cli-fw"><em>品         名：</em><span>AG9999</span></p>
          <p><em >数      量：</em><span>1006.753kg</span></p>
        </div>
      </a>
    <%}%>
  </div>
</div>