<div class="cost-confimation">
  
  <div class="">
    <%= tcm({str:'最终结算结果',more:false,num:false}) %>
    <ul class="cc-list-box">
      <li>
        <span>合同编号</span>
        <input type="text" unselectable="on" onfocus="this.blur()" readonly value="HTXH081803060014">
      </li>
      <li>
        <span>合同单价</span>
        <input type="text"  class="ccl-red" unselectable="on" onfocus="this.blur()" readonly value="123.00元">
      </li>
      <li>
        <span>仓库费用</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="3652元/kg">
      </li>
      <li>
        <span>订单重量</span>
        <input type="text" unselectable="on" onfocus="this.blur()" readonly value="219.3856KG">
      </li>
      <li>
        <span>合同金额</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="796808.50元">
      </li>
      <li>
        <span>其他费用</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="123.00元">
      </li>
      <li>
        <span>码单重量</span>
        <input type="text" unselectable="on" onfocus="this.blur()" readonly value="123.00元">
      </li>
      <li>
        <span>订单实际金额</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="796808.50元">
      </li>
      <li>
        <span>合计已支付金额</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="796931.5元">
      </li> 
    </ul>
    <%= tcm({str:'第一次结算',more:false,num:false}) %>
    <ul class="cc-list-box">
      <li>
        <span>计算编号</span>
        <input type="text" unselectable="on" onfocus="this.blur()" readonly value="JX0000009001">
      </li>
      <li>
        <span>订单重量</span>
        <input type="text" unselectable="on" onfocus="this.blur()" readonly value="219.3856KG">
      </li>
      <li>
        <span>码单重量</span>
        <input type="text" unselectable="on" onfocus="this.blur()" readonly value="100.00元">
      </li>
      <li>
        <span>合同单价</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="100.00元/KG">
      </li>
      <li>
        <span>合同实际金额</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="796808.50元/KG">
      </li>
      <li>
        <span>已支付金额</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="796808.50元/KG">
      </li>
      <li>
        <span>订单实际金额</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="796808.50元/KG">
      </li>
      <li>
        <span>差价</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="0.00元/KG">
      </li>
      <li>
        <span>是否支付仓储费</span>
        <input type="text" unselectable="on" onfocus="this.blur()" readonly value="未线下支付">
      </li>
      <li>
        <span>仓储费用</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="0.00元/KG">
      </li>
      <li>
        <span>其他费用</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="0.00元/KG">
      </li>
      <li>
        <span>备注</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="">
      </li>
      <li>
        <span>异议</span>
        <input type="text" unselectable="on" onfocus="this.blur()" readonly value="0.00元/KG">
      </li>
      <li>
        <span>本次结算合计</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="0.00元/KG">
      </li>
      <li>
        <span>本次结算已支付</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="0.00元/KG">
      </li>
      <li>
        <span>本次结算未支付</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="0.00元/KG">
      </li>
      <li>
        <span>已退款金额</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="0.00元/KG">
      </li>
      <li class="cclb-img-box">
        <span>退款凭证</span>
        <div>
          <div class="cclbi-img">
              <img src="http://placehold.it/180x140/14ccf3/fff.png" alt="">
          </div>
          <a href="javascript::;">请点击图片放大</a>
        </div>
      </li>
      <li>
        <span>退款流水号</span>
        <input type="text" unselectable="on" onfocus="this.blur()" readonly value="010233211">
      </li>
    </ul>
    <%= tcm({str:'第二次结算',more:false,num:false}) %>
    <ul class="cc-list-box">
      <li>
        <span>计算编号</span>
        <input type="text" unselectable="on" onfocus="this.blur()" readonly value="JX0000009001">
      </li>
      <li>
        <span>订单重量</span>
        <input type="text" unselectable="on" onfocus="this.blur()" readonly value="219.3856KG">
      </li>
      <li>
        <span>码单重量</span>
        <input type="text" unselectable="on" onfocus="this.blur()" readonly value="100.00元">
      </li>
      <li>
        <span>合同单价</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="100.00元/KG">
      </li>
      <li>
        <span>合同实际金额</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="796808.50元/KG">
      </li>
      <li>
        <span>已支付金额</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="796808.50元/KG">
      </li>
      <li>
        <span>订单实际金额</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="796808.50元/KG">
      </li>
      <li>
        <span>差价</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="0.00元/KG">
      </li>
      <li>
        <span>是否支付仓储费</span>
        <input type="text" unselectable="on" onfocus="this.blur()" readonly value="未线下支付">
      </li>
      <li>
        <span>仓储费用</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="0.00元/KG">
      </li>
      <li>
        <span>其他费用</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="0.00元/KG">
      </li>
      <li>
        <span>备注</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="">
      </li>
      <li>
        <span>异议</span>
        <input type="text" unselectable="on" onfocus="this.blur()" readonly value="0.00元/KG">
      </li>
      <li>
        <span>本次结算合计</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="0.00元/KG">
      </li>
      <li>
        <span>本次结算已支付</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="0.00元/KG">
      </li>
      <li>
        <span>本次结算未支付</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="0.00元/KG">
      </li>
      <li>
        <span>已退款金额</span>
        <input class="ccl-red" type="text" unselectable="on" onfocus="this.blur()" readonly value="0.00元/KG">
      </li>
      <li class="cclb-img-box">
        <span>退款凭证</span>
        <div>
          <div class="cclbi-img">
              <img src="http://placehold.it/180x140/14ccf3/fff.png" alt="">
          </div>
          <a href="javascript::;">请点击图片放大</a>
        </div>
      </li>
      <li>
        <span>退款流水号</span>
        <input type="text" unselectable="on" onfocus="this.blur()" readonly value="010233211">
      </li>
    </ul>
  </div>
  
  
</div>