<div class="bargain-nobond">
    <!-- 步骤 -->
    <%= tcm({num:1}) %>
    <!-- 提示 -->
    <div class="sn-tips">
      <i class="gtIcon"></i>
      <span>温馨提示：请在规定的时间<em><i>3分钟</i></em>内完成报价</span>
    </div>
    <div class="sn-section">
      <div class="sns-tab sns-tab-four sns-tab-title">
        <span>实时TD价格</span>
        <span><i>3854</i><em>元/kg</em></span>
        <span>当前订单的单价</span>
        <span><i>3851</i><em>元/kg</em></span>
      </div>
      <div class="sns-tab sns-tab-two">
        <span class="snst-left">当前时间</span>
        <span class="snst-right">2018-1-5   14:12:36</span>
      </div>
      <div class="sns-tab sns-tab-two">
        <span class="snst-left">供方</span>
        <span class="snst-right">湖南马上银电商有限公司</span>
      </div>
      <div class="sns-tab sns-tab-two">
        <span class="snst-left">需方</span>
        <span class="snst-right">湖南白银贸易有限公司+角色</span>
      </div>
      <div class="sns-tab sns-tab-four">
        <span>品名</span>
        <span class="snss-blod">Ag9999</span>
        <span>规格</span>
        <span class="snss-blod">国标1号</span>
      </div>
      <div class="sns-tab sns-tab-four">
        <span>品牌</span>
        <span class="snss-blod">宇腾</span>
        <span>商品品质</span>
        <span class="snss-blod">99.99%</span>
      </div>  
      <div class="sns-tab sns-tab-four">
        <span>仓库</span>
        <span class="snss-blod">郴州-飞平</span>
        <span></span>
        <span class="snss-blod"></span>
      </div>  
      <div class="sns-tab sns-tab-two relative">
        <span class="snst-left">数量（±5%）</span>
        <span class="snst-right">1006.653kg</span>
        <span class="bn-qtnum" onclick="qtnum()">洽谈数量</span>
      </div>
      <div class="sns-tab sns-tab-two">
        <span class="snst-left">结算方式</span>
        <span class="snst-right">点价权+延期补偿(最晚提货时间:2017-12-01)</span>
      </div>
      <div class="sns-tab sns-tab-two">
        <span class="snst-left">升贴水</span>
        <div class="snst-right">
          <div class="snst-stpbox">
            <span class="snst-jian lv" onclick="shengtieshui(0)">-</span>
            <input type="text" class="snsNum" value="升水11元" readonly onclick="openKp()">
            <span class="snst-jia red" onclick="shengtieshui(1)">+</span>
          </div>
        </div>
      </div>
      <div class="sns-tab sns-tab-two">
        <span class="snst-left fs18">账期</span>
        <div class="snst-right active sn-inpbx">
            <input type="text" readonly data-source="0" class="slc-curr" value="1天" placeholder="请选择账期"> >
            <ul class="slc-list">
              <li data-source="0" class="active">1天</li>
              <li data-source="1">2天</li>
            </ul>
          </div>
      </div>
      <div class="sns-tab ">
        <span class="weibu">
          <input type="checkbox" class="p-hook" checked="">
          <a href="javascript:;;">我已同意以上报价并遵守《马上银产业互联网交易总则》</a>
        </span>
      </div>
    </div>
    <div class="sns-foot-bar">
      <a href="javascript:;;" class="sns-kf"><i class="kfIcon"></i> 在线客服</a>
      <a href="javascript:;;">提交议价</a>
    </div>
  
    <!-- 升贴水小键盘 -->
    <%= keypad({data:11}) %>
  </div>