<div class="details-invoice aplication-opening">
  <div class="ao-title-times">
    <span>选择开票时间</span>
    <input type="text" readonly placeholder="请选择开票时间">
  </div>
  <div class="ao-tips">
    <i class="gtIcon"></i>
    <span>提示：只能选择当天和当天之后的时间。</span>
  </div>
  <ul class="di-list ao-list">
    <li>
      <p>开票类型</p>
      <div>
        <input type="text" value="企业">
      </div>
    </li>
    <li>
      <p>发票类型</p>
      <div>
        <input type="text" value="增值税专用发票">
      </div>
    </li>
    <li>
      <p>请选择收件人</p>
      <div class="slc-boxpage">
        <div class="slc-box active">
          <input type="text" readonly data-source="0" class="slc-curr" value="" placeholder="请选择">
          <ul class="slc-list">
            <li data-source="0">张三</li>
            <li data-source="1">李四</li>
            <li data-source="1">王五</li>
            <li data-source="1">省六</li>
            <li data-source="1">乞七</li>
          </ul>
        </div>
        <a href="javascript:;;" class="slc-smallbtn">管理收件人</a>
      </div>
    </li>
    <li>
      <p>所在地区</p>
      <div>
        <input type="text" value="湖南省郴州市桂阳县">
      </div>
    </li>
    <li>
      <p>所在街道</p>
      <div>
        <input type="text" value="东川路702号">
      </div>
    </li>
    <li>
      <p>邮政编码</p>
      <div>
        <input type="text" value="423000">
      </div>
    </li>
    <li>
      <p>手机号</p>
      <div>
        <input type="text" value="13567483060">
      </div>
    </li>
  </ul>
  <div class="ao-foot">
    <div class="cr-footbox">
      <a href="javascript:;;">重置</a>
      <a href="javascript:;;" class="cr-qed">开票提交</a>
    </div>
  </div>
</div>

