<div class="generation">
  <div class="g-section">
    <div class="gs-img">
      <img src="./front/images/icon/jixiangwu.png" alt="">
    </div>
    <p>支付成功</p>
  </div>
  <div class="g-foot">
    <a href="javascript:;;">返回订单中心</a>
  </div>
</div>