<div class="delivery-confirm">
      <!-- 提示 -->
      <div class="cp-tips">
            <i class="gtIcon"></i>
            <span>温馨提示：目前贵司可支持“现款现货”、“预付款+多次提货”、“预付款+银票“和“无保证金、非当日点价”，了解当前的支付条件请咨询客服。</span>
          </div>
        <ul class="cp-ul">
            <li>
                <span>订单编号</span>
                <span class="fs30 c6">201802325555</span>
            </li>
            <li>
                <span>品名</span>
                <span class="fs30 c6">白银999</span>
            </li>
            <li>
                <span>现可提的数量</span>
                <span class="fs30 c6">2302kg</span>
            </li>
            <li>
                <div>
                    <i class="red">*</i>
                    <span class="c6">本次提货数量</span>
                </div>
                <div>
                    <input class="dc-inputa" type="text" placeholder="请输入本次提货数量">kg
                </div>
            </li>
            <li>
                <span>最晚提货时间</span>
                <span class="fs30 c6">2018-09-10</span>
            </li>
            <li>
                <div>
                    <i class="red">*</i>
                    <span class="c6">本次提货时间</span>
                </div>
                <div class="c6 fs30">
                   请选择本次提货时间 >
                </div>
            </li>
            <li>
                <span>最终单价</span>
                <div>
                    <span class="fs30 c6">3637<i class="red">+3</i>元/kg</span>
                    <a class="pp-sjbtn" href="javascript:void(0)">锁价</a>
                </div>
            </li>
            <li>
                <span>贷款总额</span>
                <span class="fs30 red">35855556.00元</span>
            </li>
            <li>
                <span>结算方式</span>
                <span class="fs30 c6">五保证金+平台点价权</span>
            </li>
            <li>
                <span>需要缴纳的延期点价费</span>
                <span class="fs30 red">35855556.00元</span>
            </li>
            <li>
                <span>本次提货所需金额</span>
                <span class="fs48 red">35855556.00元</span>
            </li>
        </ul>
        <div class="dc-bt">
            <a class="dc-bta fs30" href="javascript:void(0)">填写完提货信息，下一步</a>
        </div>
    </div>