<div class="certified-information">
  <!-- 企业资料 -->
  <div class="ei-page">
      <%= tcm({str:'企业资料',more:false,num:false}) %>
      <div class="eip-box">
        <span>企业地址</span>
        <div class="eip-right">
          <input type="text" readonly value="中国河南省郑州市">
        </div>
      </div>
      <div class="eip-box">
        <span>企业名称</span>
        <div class="eip-right">
          <input type="text" readonly value="河南省宇腾有色金属股份有限公司">
        </div>
      </div>
      <div class="eip-box">
        <span>企业简称</span>
        <div class="eip-right">
          <input type="text" readonly value="HLYHYSJS">
        </div>
      </div>
      <div class="eip-box">
        <span>企业详细地址</span>
        <div class="eip-right">
          <textarea>郑州市XX区XXXXXXXXXX XXXXXXXXXXXXXXXXXXXXXX</textarea>
        </div>
      </div>
  </div>
  <!-- 法人资料 -->
  <div class="ei-page">
      <%= tcm({str:'法人资料',more:false,num:false}) %>
      <div class="eip-box">
        <span>法人姓名</span>
        <div class="eip-right">
          <input type="text" readonly value="梁东">
        </div>
      </div>
      <div class="eip-box">
        <span>法人身份证</span>
        <div class="eip-right">
          <input type="text" readonly value="510433192112030038">
        </div>
      </div>
      <div class="eip-box">
        <span>代理人姓名</span>
        <div class="eip-right">
          <input type="text" readonly value="李强">
        </div>
      </div>
      <div class="eip-box">
        <span>代理人手机号</span>
        <div class="eip-right">
          <input type="text" readonly value="13510564060">
        </div>
      </div>
      <div class="eip-box">
        <span>代理人身份证</span>
        <div class="eip-right">
          <input type="text" readonly value="510322198610300034">
        </div>
      </div>
      <div class="eip-box">
        <span>证件类型</span>
        <div class="eip-right">
          <input type="text" readonly value="三证合一">
        </div>
      </div>
  </div>
  <div class="ei-page">
    <div class="eipp-cord">
      <div class="eippc-box">
        <p>营业执照</p>
        <div class="eipcc-img">
          <img src="http://placehold.it/170x100/6fc3ff/fff.png" alt="">
        </div>
      </div>
      <div class="eippc-box">
        <p>银行开户许可证</p>
        <div class="eipcc-img">
          <img src="http://placehold.it/170x100/6fc3ff/fff.png" alt="">
        </div>
      </div>
    </div>
    <div class="eipp-cord">
      <div class="eippc-box">
        <p>法人身份证正反面</p>
        <div class="eipcc-img">
          <img src="http://placehold.it/250x70/6fc3ff/fff.png" alt="">
        </div>
      </div>
      <div class="eippc-box">
        <p>代理人身份证正反面</p>
        <div class="eipcc-img">
          <img src="http://placehold.it/250x70/6fc3ff/fff.png" alt="">
        </div>
      </div>
    </div>
    <div class="eipp-cord">
      <div class="eippc-box">
        <p>组织机构代码证</p>
        <div class="eipcc-img">
          <img src="http://placehold.it/170x100/6fc3ff/fff.png" alt="">
        </div>
      </div>
      <div class="eippc-box">
        <p>代理人委托函</p>
        <div class="eipcc-img">
          <img src="http://placehold.it/170x100/6fc3ff/fff.png" alt="">
        </div>
      </div>
    </div>
    <div class="eipp-cord">
      <div class="eippc-box">
        <p>税务登记证</p>
        <div class="eipcc-img">
          <img src="http://placehold.it/170x100/6fc3ff/fff.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- 企业资料 -->
  <div class="ei-page">
      <%= tcm({str:'企业资料',more:false,num:false}) %>
      <div class="eip-box">
        <span>开户银行</span>
        <div class="eip-right">
          <input type="text" readonly value="中国湖南省XXXXXXXXXXXXX">
        </div>
      </div>
      <div class="eip-box">
        <span>开户账号</span>
        <div class="eip-right">
          <input type="text" readonly value="32434645635234234241242">
        </div>
      </div>
      <div class="eip-box">
        <span>企业纳税号</span>
        <div class="eip-right">
          <input type="text" readonly value="3232411242141242412421">
        </div>
      </div>
      <div class="eip-box">
        <span>开票地址</span>
        <div class="eip-right">
          <input type="text" readonly value="中国湖南省XXXXXXXXXXXXX">
        </div>
      </div>
      <div class="eip-box">
        <span>财务联系人</span>
        <div class="eip-right">
          <input type="text" readonly value="XXX">
        </div>
      </div>
      <div class="eip-box">
        <span>联系电话</span>
        <div class="eip-right">
          <input type="text" readonly value="13510734060">
        </div>
      </div>
      <div class="eip-box">
        <span>传真信号</span>
        <div class="eip-right">
          <input type="text" readonly value="0843-5844938">
        </div>
      </div>
      <div class="eip-box">
        <span>紧急联系人</span>
        <div class="eip-right">
          <input type="text" readonly value="XXX">
        </div>
      </div>
      <div class="eip-box">
        <span>紧急联系人手机号</span>
        <div class="eip-right">
          <input type="text" readonly value="13505843060">
        </div>
      </div>
  </div>
</div>