<div class="forget-password">
  <ul class="fp-list">
    <li>
      <i class="fp-telICon"></i>
      <input type="text" placeholder="请输入您的手机号码">
    </li>
    <li>
      <i class="fp-telyzICon"></i>
      <input type="text" placeholder="请输入手机验证码">
      <button class="fp-hq-code" onclick="hqCode('fp-hq-code')">获取验证码</button>
    </li>
    <li>
      <i class="fp-suoIcon"></i>
      <input type="text" placeholder="请输入6~20位的密码">
    </li>
    <li>
      <i class="fp-suoIcon"></i>
      <input type="text" placeholder="请再次输入6~20位的密码">
    </li>
  </ul>
  <div class="fp-foot-btn">
    <a href="javascript::;">提交</a>
  </div>
</div>