<div class="buyer-delivery">
    <ul class="cp-ul">
        <li>
            <span>当前订单总金额</span>
            <span class="fs30 red">3613332337.00元</span>
        </li>
        <li>
            <span>已付货款</span>
            <span class="fs30 red">3632566333.00元</span>
        </li>
        <li>
            <span>数量</span>
            <span class="fs30 c6">2332552kg</span>
        </li>
        <li>
            <span>最晚提货时间</span>
            <span class="fs30 c6">2018-08-08</span>
        </li>
        <li>
            <span>本次提货时间</span>
            <span class="fs30 c6">请选择本次提货时间 ></span>
        </li>
    </ul>
    <div class="cp-tips">
        <i class="gtIcon"></i>
        <span>提示：如延期提货所产生的费用，由贵公司自行承担。</span>
    </div>
    <ul class="cp-ul">
        <li>
            <span>提货/仓单</span>
            <span class="fs30 ">
                <input class="p-point" type="radio" checked="checked">
                <em>直接提货</em>
            </span>
        </li>
    </ul>
    <div class="pp-bt">
        <a class="pp-bta" href="javascript:void(0)">取消操作</a>
        <a class="pp-btb" href="javascript:void(0)">提交</a>
    </div>
</div>