<div class="contract-confimation">
    <!-- 合同 -->
    <div class="cc-htBox pdfHight">
      <iframe src="https://testapi.fadada.com:8443/api//viewdocs.action?app_id=400891&timestamp=20180902225154&v=2.0&msg_digest=MkUwMjQxMjk3MkMzOTA4ODY5RjcwRUJENzY0RDFFNzE0NjU5N0Q4Rg==&send_app_id=&transaction_id=SDQZ20180902224740846"></iframe>
    </div>
    <!-- 尾部确认 -->
    <div class="cc-foot pdf-foot">
      <a href="javasctipt:;;" class="ccf-btn">确认码单</a>
    </div>
  </div>