<div class="settlement-information">
  <%for(var i=0;i<4;i++){%>
    <div class="si-section">
      <span>交易数据汇总.xls</span>
      <a href="javascript:;;">预览</a>
    </div>
  <%}%>
  <!-- 提示 -->
  <div class="si-tipbox">
    <i class="gtIcon"></i>
    <div class="sit-tishi">温馨提示：</div>
    <div class="sit-txt">
      <p>预览支持图片格式（gif,jpg,jpeg,png,bmp）</p>
      <p>文档格式（pdf,PDF,doc,docx,xls,xlsx,ppt）</p>
    </div>
  </div>
</div>