<div class="index-lists">
  <a href="mainIndex.html">首 页</a>
  <a href="lzxaboutList.html">关于我们列表</a>
  <a href="lzxinformation.html">资讯</a>
  <a href="lzxinformationDetails.html">资讯详情</a>
  <a href="lzxmarketInformation.html">更多行情信息</a>
  <a href="lzxcontactUs.html">联系我们</a>
  <a href="lzxrecruit.html">招贤纳士</a>
  <a href="lzxpersonalCenter.html">会员中心-企业审核状态</a>
  <a href="lzxpersonalData.html">会员中心-个人资料管理</a>
  <a href="lzxcertifiedInformation.html">会员中心-企业已认证资料</a>
  <a href="lzxsetUp.html">会员中心-设置</a>
  <a href="lzxretrievePassword.html">找回密码</a>
  <a href="lzxcontrolInvoices.html">发票管理</a>
  <a href="lzxdetailsInvoice.html">发票详情</a>
  <a href="lzxcauseRefund.html">退票原因</a>
  <a href="lzxopenOrder.html">可开票订单</a>
  <a href="lzxaddInvoice.html">新增发票信息</a>
  <a href="lzxlookInvoice.html">查看发票信息</a>  
  <a href="lzxinvoiceManagement.html">发票审核管理</a>
  <a href="lzxrelatedInformation.html">查看相关订单信息</a>
  <a href="lzxinvoiceExpress.html">发票快递管理</a>
  <a href="lzxconfirmationList.html">开票确认清单</a>
  <a href="lzxapplicationOpening.html">申请开票</a>
  <a href="lzxconcentrateProducts.html">精矿商品列表</a>
  <a href="lzxsalesFull.html">精矿采购/销售整单</a>
  <a href="lzxsalesFullzi.html">精矿采购/销售子单</a>
  <a href="lzxsalesFull.html">其他企业查看整单</a>
  <a href="lzxsalesFullzi.html">其他企业查看子单</a>
  <a href="lzxconcentrateManagement.html">精矿整单(子单)管理</a>
  <a href="lzxsettlementInformation.html">查看结算信息</a>
  <a href="lzxjktransactionInformation.html">精矿最新成交信息</a>
  <a href="lzxorderSearch.html">订单搜索</a>
  <a href="lzxintroductionPage.html">App介绍</a>
  <a href="lzxsubmitNegotiated.html">现款现货_议价交易页</a>
  <a href="lzxcontractConfirmation.html">合同确认_现款现货</a>
  <a href="lzxgeneration.html">码单生成中</a>
  <a href="lzxcodeConfirmation.html">码单确认</a>
  <a href="lzxpayment.html">支付（现款现货）</a>
  <a href="lzxdeliveryConfirmation.html">提货信息确认</a>
  <a href="lzxcostConfirmation.html">费用确认</a>
  <!-- <a href="lzxdetailsSettlement.html">结算详情</a> -->
  <a href="ccCheckAccount.html">结算详情</a> 
  <a href="lzxsubmitNegotiated.html">多次提货-议价交易页</a> 
  <a href="lzxsubmitNegotiated.html">多次提货-议价交易-预售</a> 
  <a href="lzxcontractConfirmation.html">多次提货-合同确认</a> 
  <a href="lzxprepaymentPayment.html">多次提货-预付款比例支付</a> 
  <a href="lzxunderPayment.html">多次提货-线下支付</a> 
  <a href="lzxsafeTransaction.html">多次提货-平安现货交易通</a> 
  <a href="lzxapplicationDelivery.html">多次提货-提货申请</a> 
  <a href="lzxlastApplication.html">多次提货-最后一次提货申请</a> 
  <a href="ccFillConsignee.html">多次提货-填写提货人信息</a>
  <a href="lzxgeneralPlatform.html">马上银电商平台总则</a>
  <a href="ccGenerateLetter.html">生成委托函</a>
  <a href="lzxcostConfirmation.html">二次结算-费用确认</a>
  <a href="ccCheckAccount.html">二次结算-结算详情</a> 
  <a href="lzxconfirmationReceivables.html">费用确认</a> 
  <a href="lzxtradingPage.html">一口价交易页</a> 
  <a href="lzxcontractConfirmation.html"> 一口价-合同确认</a>
  <a href="lzxgeneration.html">一口价-码单生成中</a>
  <a href="lzxcodeConfirmation.html">码单确认</a>
  <a href="lzxpayment.html">一口价-支付</a>
  <a href="lzxdeliveryConfirmation.html">一口价-提货申请</a>
  <a href="ccFillConsignee.html"> 一口价-填写提货人信息</a>
  <a href="lzxunderPayment.html">线下支付</a> 
  <a href="ccFillConsignee.html">填写提货人信息</a>
  <a href="lzxonlineSignature.html">在线签章</a>
  <a href="lzxQRcode.html">二维码</a>
  <a href="lzxdelay.html">委托函延期</a>

  <hr>
  <a href="ccbargainNoBond.html">议价交易页（无保证金）</a>
  <a href="lzxcontractConfirmation.html">合同确认__无保证金</a>
  <a href="ccCompletPay.html">需方完成支付</a>
  <a href="ccPlatformPrice.html">平台点价</a>
  <a href="ccPlatformPrice.html">企业点价</a>
  <a href="ccBuyerDelivery.html">提货申请信息</a>
  <a href="ccPointpriceManagement.html">点价审核管理</a>
  <a href="ccFillCause.html">填写审核原因</a>
  <a href="ccTwoSettlement.html">二次结算</a>
  <a href="ccCheckAccount.html">查看结算</a>
  <a href="ccDeliveryConfirm.html">提货信息确认（无保证金)</a>
  <a href="ccDeliveryConfirm.html">提货确认（无保证金）-平台</a>
  <a href="ccCodeBuild.html">码单生成中（无保证金）</a>
  <a href="lzxcodeConfirmation.html">码单确认页__无保证金</a>
  <a href="ccFillConsignee.html">填写提货人信息（无保证金）</a>
  <a href="ccDeliveryPay.html">提货款支付（无保证金）</a>
  <a href="ccDeliveryPayment.html">线下支付页__提货支付</a>
  <a href="ccUnionPay.html">银联支付页__提货支付</a>
  <a href="ccGenerateLetter.html">生成委托函_（无保证金）</a>
  <a href="ccWarehousePay.html">仓单支付（无保证金）</a>
  <a href="ccNegotiatedTransaction.html">议价交易页__先货后款</a>
  <a href="lzxcontractConfirmation.html">合同确认__先货后款</a>
  <a href="ccApplicateDelivery.html">提货申请（先货后款）</a>
  <a href="lzxgeneration.html">码单生成中</a>
  <a href="lzxcodeConfirmation.html">码单确认页__先货后款</a>
  <a href="ccPayPrice.html">后续支付货款__先货后款_</a>
  <a href="ccDeliveryPayment.html">线下支付页</a>
  <a href="ccUnionPay.html">平安支付</a>
  <a href="ccCostSettlement.html">二次结算 费用结算</a>
  <a href="ccDeliveryPayment.html">线下支付</a>
  <a href="ccSettlementDetails.html">二次结算 结算详情</a>
  <a href="ccBuyerPurchase.html">需方采购</a>
  <a href="ccFillQuotation.html">需方填写报价</a>
  <a href="ccBargainManagement.html">议价管理</a>
  <a href="lzxcodeConfirmation.html">确认码单</a>
  <a href="ccBuyerPay.html">需方支付</a>
  <a href="ccDeliveryPayment.html">线下支付页</a>
  <a href="ccFinancialVoucher.html">供方审核财务凭证</a>
  <a href="ccConfirmReceive.html">确认收款</a>
  <a href="lzxdeliveryConfirmation.html">现在提货</a>
  <a href="ccLaunchSettlement.html">发起结算</a>
  <a href="ccCostConfirmation.html">费用确认</a>
  <a href="ccDeliveryPayment.html">线下支付</a>
  <a href="ccUnionPay.html">平安支付</a>
  <a href="ccSettlementDetails.html">结算详情</a>
  <a href="ccOrder.html">订单</a>
  <a href="ccOrderDetails.html">订单详情页-现款现货</a>
  <a href="ccGoodsDetails.html">商品详情</a>
  <a href="ccCheckCode.html">查看码单</a>
  <a href="ccCheckCode.html">查看合同</a>
  <a href="ccCheckCode.html">查看委托函</a>
  <a href="ccOrderDetailed.html">订单明细</a>
  <a href="ccOrder.html">订单状态-现款现货</a>
  <a href="ccOrder.html">订单状态-预付款-现货和预售</a>
  <a href="ccOrderDetails.html">订单详情-yfk</a>
  <a href="ccRefundableDetails.html">查看退还预付款</a>
  <a href="ccOrder.html">订单状态-先货后款</a>
  <a href="ccOrder.html">订单中心-点价权</a>
  <a href="ccReturnGoods.html">退货</a>
  <a href="ccRegisterList.html">挂单列表</a>
  <a href="ccToRegister.html">我要挂单</a>
  <a href="ccToRegister.html">修改挂单</a>
  <a href="lzxcodeConfirmation.html">码单详情</a>
  <a href="ccPinganPay.html">平安支付—开户前</a>
  <a href="ccPayManagement.html">平安支付—开户后平安支付管理</a>
  <a href="ccMoneyDetail.html">出入金明细</a>
  
</div>

<style>
  .index-lists {
    background-color: #fff
  }
  .index-lists a{
    display: inline-block;
    padding:10px 30px;
    color: #4c4c4c;
    font-size: 14px;
  }
  .index-lists p{
    color: #ff6969;
    line-height: 30px;
  }
</style>