
<div class="buyer-purchase">
    <div class="bp-search">
        <div class="bp-searchl">
            <input class="bp-searchinp" type="text" placeholder="品名、品牌、企业">
            <i class="bp-searchi"></i>
        </div>
        <a class="bp-searchr" href="javascript:void(0)">
            <span>筛选</span>   
            <i></i>
        </a>
    </div>
    <div class="bp-cgbig">
      <%for(var i=0;i<8;i++){%>
        <div class="bp-cbbx">
            <div class="bp-cbbxl">
                <p class="clearfix">
                    <span class="lt">白银/国际1#/99.99%</span>
                    <span class="rt">600.0000kg</span>
                </p>
                <p class="clearfix mt25 mb25 lh36">
                    <span class="lt fs48 ">TD<i class="red">+21</i></span>
                    <span class="rt fs30 ">广东韶关·中远仓库</span>
                </p>
                <p class="clearfix">
                    <span class="lt c9">现款现货</span>
                    <span class="rt c9">湖南马上银电子商务有限公司</span>
                </p>
            </div>
            <a class="bp-cbbxr" href="javascript:void(0)">购买</a>
        </div>
      <%}%>
    </div>

    <div class="transaction-information">
        <div class="imss-bj"></div>
        <div class="im-suosou">
          <div class="imss-box">
            <p>品牌</p>
            <div class="imsall-btnbox">
              <span class="active">全部</span>
              <span>贵金</span>
              <span>宇腾</span>
              <span>祝融</span>
              <span>金旺</span>
              <span>招金</span>
            </div>
          </div>
          <div class="imss-box">
            <p>产品分类</p>
            <div class="imsall-btnbox">
              <span class="active">全部</span>
              <span>整单</span>
              <span>散单</span>
              <span>仓单</span>
            </div>
          </div>
          <div class="imss-box">
            <p>结算方式</p>
            <div class="imsall-btnbox">
              <span class="active">全部</span>
              <span>现款现货</span>
            </div>
          </div>
          <div class="imss-box">
            <p>开票明细</p>
            <div class="imsall-btnbox">
              <span class="active">全部</span>
              <span>当月开票</span>
              <span>非当月开票</span>
            </div>
          </div>
          <div class="imss-footbox">
            <div class="imssbtn-box">
              <a href="javascript:;;" onclick="imReset()">重置</a>
              <a href="javascript:;;" class="imss-wcbtn">完成</a>
            </div>
          </div>
        </div>
      </div>
  </div>