@import './base'

.applicate-delivery
    padding-bottom: Rem(50)
    .cp-tips
        background-color #feecbf
        text-align left
        font-size: Rem(10)
        color #999
        padding Rem(8) Rem(5)
        display flex
        >span
            flex 1
            margin-left Rem(5)
    .cp-ul
        background-color: #ffffff
        >li
            display: flex
            justify-content: space-between
            align-items: center
            height Rem(45)
            padding 0 Rem(15)
            color: #999999
            border-bottom 1px solid #eeeeee
            font-size: Rem(12)
            .fs30
                font-size: Rem(15)
            .fs48
                font-size: Rem(24)
            .c6
                color: #666666
            .red
                color $theme-color
            .pp-sjbtn
                width Rem(80)
                height Rem(65/2)
                line-height: Rem(65/2)
                text-align: center
                font-size: Rem(12)
                color: #ffffff
                background-color $theme-color
                border-radius: 5px
                margin-left: Rem(10)
                display: inline-block
            .dc-inputa
                width: Rem(140)
                height Rem(35)
                line-height: Rem(35)
                padding: Rem(5) 0
                border: none 
                margin-right: Rem(10)
                text-align: right 
                color: #666666
            .ad-selbx
                position relative
                .slc-curr
                    text-align right
                    height Rem(30)
                    line-height Rem(30)
                    border: 0
                    color: #666
                .slc-list
                    display: none;
                    position: fixed;
                    bottom: 0px;
                    left: 0px;
                    z-index: 66;
                    width: 100%;
                    background: #fff;
                    box-shadow: 0 -3px 5px rgba(0,0,0,0.1);
                    li
                        line-height: Rem(20);
                        padding: Rem(10) 0;
                        text-align: center;
                        border-bottom 1px solid #eeeeee
                        &.active
                            color $theme-color
    .dc-bt
        padding 0 Rem(15)
        margin Rem(18) 0 Rem(5)
        position: fixed
        left 0
        right 0
        bottom: 0
        z-index 11
        .dc-bta
            width 100%
            height Rem(40)
            line-height: Rem(40)
            text-align: center
            color: #ffffff
            background-color: $theme-color
            border-radius: 5px
            display: inline-block
    