@import './base'

.bargain-management
    .bm-big
        padding: 0 Rem(5)
        margin-top Rem(5)
        .bm-ul
            padding Rem(5) Rem(10)
            margin-bottom Rem(5)
            background-color #ffffff
            border-radius: 5px
            >li
                font-size: Rem(12)
                color: #999999
                margin-bottom Rem(5)
                &:last-child
                    margin-bottom 0
                .sp
                    width 49%
                    display: inline-block
                    .bm-btna
                        width Rem(112/2)
                        height Rem(22)
                        line-height: Rem(22)
                        text-align: center
                        color: $theme-color
                        border: 1px solid $theme-color
                        border-radius: 5px
                        font-size: Rem(9)
                        margin-right: Rem(5)
                        display: inline-block
                    .bm-btnb
                        width Rem(114/2)
                        height Rem(23)
                        line-height: Rem(23)
                        text-align: center
                        color: #ffffff
                        background-color: $theme-color
                        border-radius: 5px
                        font-size: Rem(9)
                        margin-right: Rem(5)
                        display: inline-block
.fwb
    font-weight: bold
.red
    color: $theme-color
.c6
    color: #666666