@import './base'

.buyer-delivery
    .cp-ul
        background-color: #ffffff
        li
            display: flex
            justify-content: space-between
            align-items: center
            height Rem(45)
            padding 0 Rem(15)
            color: #999999
            border-bottom 1px solid #eeeeee
            font-size: Rem(12)
            .fs30
                font-size: Rem(15)
            .c6
                color: #666666
            .red
                color $theme-color
            .pp-sjbtn
                width Rem(80)
                height Rem(65/2)
                line-height: Rem(65/2)
                text-align: center
                font-size: Rem(12)
                color: #ffffff
                background-color $theme-color
                border-radius: 5px
                margin-left: Rem(10)
                display: inline-block
            .pp-stpbox
                font-size: 0
                >span 
                    font-size: Rem(14)
                    display inline-block
                    vertical-align middle
                    width Rem(45/2)
                    height Rem(45/2)
                    line-height Rem(45/2)
                    border: 1px solid #eee
                    text-align: center
                >input
                    font-size: Rem(13)
                    display inline-block
                    vertical-align middle
                    height Rem(45/2)
                    line-height Rem(45/2)
                    border 1px solid #eee
                    border-left 0
                    border-right 0
                    width Rem(100)
                    text-align center
                    -webkit-appearance: none
                    border-radius: 0
                .c-inputGm
                    color $theme-color  
            &.dcs-tiems
                toMore()
                input
                    margin-right: Rem(15)
                    border: 0
                    text-align right
    .cp-tips
        background-color #feecbf
        text-align left
        font-size: Rem(10)
        color #999
        padding Rem(8) Rem(5)
    .pp-bt
        position: fixed
        width 100%
        left: 0
        bottom: 0
        padding: Rem(10) 0
        text-align: center
        background: #f4f4f4;
        a
            width Rem(150)
            height Rem(40)
            line-height: Rem(40)
            text-align: center
            font-size: Rem(15)
            color: #ffffff
            border-radius: 5px
            display: inline-block
        .pp-bta
            background-color #999999
            margin-right: Rem(45/2)
        .pp-btb
            background-color $theme-color
