@import './base'
.check-code
    .cc-iframe
        margin Rem(10) auto
        width 95%
        background-color: #ffffff
        height 90vh
        border-radius: 5px
        iframe
            width: 100%
            height 100%
    .cc-foot-btn
        padding Rem(5) 0
        background-color: #fff
        margin-top Rem(15)
        box-shadow: 0 0 4px #ccc
        position fixed
        bottom 0
        width 100%
        >a
            bigBtn()