@import './base'

.confirm-receive
    padding-bottom Rem(50)
    .ts-ula
        background-color #ffffff
        margin-bottom Rem(5)
        .ts-lia
            padding: 0 Rem(15)
            height Rem(45)
            border-bottom 1px solid #eeeeee
            display: flex
            align-items: center
            font-size: Rem(12)
            color #999999
            .ca-bx
                display: flex
                align-items: center
            &.two
                justify-content: space-between
            .c6
                color: #666666
            .fs30
                font-size: Rem(15)
            .fs48
                font-size: Rem(24)
            .fs18
                font-size: Rem(9)
            .red
                color $theme-color
            .ml10
                margin-left: Rem(5)
            .ts-liai
                width 3px
                height Rem(14)
                background-color $theme-color
                margin-right Rem(5)
                display: inline-block
            .ts-lipic
                img 
                    width Rem(186/2)
                    height Rem(145/2)
                p
                    margin-top Rem(5)
            .slc-curr
                text-align right
                height Rem(40)
                line-height Rem(10)
                border: 0
                padding-right Rem(10)
                color: #666666
        .ts-lib
            height auto
            padding: Rem(10) Rem(15)
            font-size: Rem(12)
            color #999999
            .ts-file
                display: flex
                justify-content: space-around
                align-items: center
                margin-top Rem(10)
                .ts-filel
                    width 40%
                    text-align: center
                    >span 
                        position relative
                        margin-bottom Rem(5)
                        display: inline-block
                        i 
                            getBg('c-addpic')
                            background-size: Rem(114/2) Rem(114/2)
                            width: Rem(114/2)
                            height: Rem(114/2)
                            display inline-block
                            vertical-align middle
                        input 
                            width: Rem(114/2)
                            height: Rem(114/2)
                            opacity 0
                            position: absolute
                            left 0
                            top 0 
                .ts-filer
                    width 50%
                    text-align: center
                    img 
                        width: Rem(110)
                        height: Rem(60)
                        margin-top Rem(5)
    .dc-bt
        padding 0 Rem(15)
        margin Rem(5) 0
        position: fixed
        left 0
        right 0
        bottom: 0
        z-index 11
        .dc-bta
            width 100%
            height Rem(40)
            line-height: Rem(40)
            text-align: center
            color: #ffffff
            background-color: $theme-color
            border-radius: 5px
            display: inline-block
            
        