@import './base'

.delivery-payment
    .cp-tips
        background-color #feecbf
        text-align left
        font-size: Rem(10)
        color #999
        padding Rem(8) Rem(5)
        display flex
        >span
            flex 1
            margin-left Rem(5)
    .ts-ula
        background-color #ffffff
        margin-bottom Rem(5)
        &:last-child
            margin-bottom 0
        .ts-lia
            padding: 0 Rem(15)
            height Rem(45)
            border-bottom 1px solid #eeeeee
            display: flex
            align-items: center
            font-size: Rem(12)
            color #666666
            &.two
                justify-content: space-between
            &.ts-lib
                height auto
                padding: Rem(5) Rem(15)
            .c6
                color: #666666
            .fs30
                font-size: Rem(15)
            .fs48
                font-size: Rem(24)
            .fs18
                font-size: Rem(9)
            .red
                color $theme-color
            .ml10
                margin-left: Rem(5)
            .dp-fillbx
                width 50%
                .dp-inpa
                    width 100%
                    height Rem(35)
                    line-height Rem(35)
                    padding Rem(5) 0
                    text-align: right 
                    border: none 
    .cp-bt
        position: fixed
        right: 0
        left: 0
        bottom: 0
        background-color: #ffffff
        padding: Rem(15)
        z-index 99
        border-top 1px solid #eeeeee
        .cp-btp
            position relative
            margin-top: Rem(5)
            text-align: center
            padding-bottom Rem(15)
            i 
                width 90%
                height 1px
                background-color: #eeeeee
                display: inline-block
            span 
                font-size: Rem(12)
                position: absolute
                top: Rem(-5)
                left: 50%
                margin-left: Rem(-41)
                padding: Rem(10)
                background-color: #ffffff
        .fc-btn
            width 100%
            padding: Rem(10) 0
            text-align: center
            a
                width Rem(150)
                height Rem(40)
                line-height: Rem(40)
                text-align: center
                font-size: Rem(15)
                color: #ffffff
                border-radius: 5px
                display: inline-block
                background-color $theme-color
            .fc-btna
                background-color #999999
                margin-right: Rem(45/2)
            
                