@import './base'

.fill-quotation
    padding-bottom Rem(50)
    .ts-ula
        background-color #ffffff
        margin-bottom Rem(5)
        &:last-child
            margin-bottom 0
        .ts-lia
            padding: 0 Rem(15)
            height Rem(45)
            border-bottom 1px solid #eeeeee
            display: flex
            align-items: center
            font-size: Rem(12)
            color #999999
            &.two
                justify-content: space-between
            .c6
                color: #666666
            .fs30
                font-size: Rem(15)
            .fs48
                font-size: Rem(24)
            .fs18
                font-size: Rem(9)
            .red
                color $theme-color
            .ml10
                margin-left: Rem(5)
            .lv
                color #80c269
            .hui
                color #666
            .ts-liai
                width 3px
                height Rem(14)
                background-color $theme-color
                margin-right Rem(5)
            .ts-lipic
                img 
                    width Rem(186/2)
                    height Rem(145/2)
                p
                    margin-top Rem(5)
            .pp-stpbox
                font-size: 0
                >span 
                    font-size: Rem(14)
                    display inline-block
                    vertical-align middle
                    width Rem(45/2)
                    height Rem(45/2)
                    line-height Rem(45/2)
                    border: 1px solid #eee
                    text-align: center
                >input
                    font-size: Rem(13)
                    display inline-block
                    vertical-align middle
                    height Rem(45/2)
                    line-height Rem(45/2)
                    border 1px solid #eee
                    border-left 0
                    border-right 0
                    width Rem(100)
                    text-align center
                    -webkit-appearance: none
                    border-radius: 0
            .fq-lxa
                width Rem(115/2)
                height Rem(45/2)
                line-height: Rem(45/2)
                text-align: center
                color: #ffffff
                font-size: Rem(9)
                background-color: $theme-color
                border-radius: 5px
                display: inline-block
    .fq-spbx
        padding: 0 Rem(5)
        margin-bottom Rem(10)
        .fq-ula
            background-color: #ffffff
            border-radius: 5px
            padding:Rem(5) Rem(10)
            >li
                height Rem(25)
                border-bottom 1px solid #eeeeee
                display: flex
                align-items: center
                justify-content: space-between
                font-size: Rem(12)
                color #999999
                .red
                    color $theme-color
                .c6
                    color: #666666
                &:last-child
                    border-bottom none 
    .dc-bt
        padding 0 Rem(15)
        margin Rem(5) 0
        position: fixed
        left 0
        right 0
        bottom: 0
        z-index 11
        .dc-bta
            width 100%
            height Rem(40)
            line-height: Rem(40)
            text-align: center
            color: #ffffff
            background-color: $theme-color
            border-radius: 5px
            display: inline-block