@import './base'

.fill-consignee
    .ts-ula
        background-color #ffffff
        margin-bottom Rem(5)
        .ts-lia
            padding: 0 Rem(15)
            height Rem(45)
            border-bottom 1px solid #eeeeee
            display: flex
            align-items: center
            font-size: Rem(12)
            color #999999
            .ca-bx
                display: flex
                align-items: center
            &.two
                justify-content: space-between
            &.ts-lib
                height auto
                padding: Rem(5) Rem(15)
            &.ts-lic
                height auto
                padding: Rem(20) Rem(15)
                position relative
                justify-content: center
                border-bottom none 
                p
                    text-align: center
                    width: 100%
                    .img
                        width Rem(237/2)
                        height Rem(70)
            .c6
                color: #666666
            .fs30
                font-size: Rem(15)
            .fs48
                font-size: Rem(24)
            .fs18
                font-size: Rem(9)
            .fs20
                font-size: Rem(10)
            .red
                color $theme-color
            .ml10
                margin-left: Rem(5)
            .mb40
                margin-bottom: Rem(20)
            .mb5
                margin-bottom: Rem(5/2)
            .ts-liai
                width 3px
                height Rem(14)
                background-color $theme-color
                margin-right Rem(5)
                display: inline-block
            .fc-btna
                width Rem(80)
                height Rem(65/2)
                line-height Rem(65/2)
                text-align: center
                color #ffffff
                background-color: $theme-color
                display: inline-block
                font-size: Rem(12)
                border-radius: 5px
            .slc-curr
                text-align right
                height Rem(40)
                line-height Rem(10)
                border: 0
                padding-right Rem(15)
    .fc-gzp
        padding 0 Rem(15)
        background-color: #ffffff
        height Rem(30)
        line-height Rem(30)
        font-size: Rem(12)
        color: #666666
        margin-bottom Rem(60)
    .fc-btn
        background-color: #ffffff
        padding Rem(5) Rem(15)     
        z-index 22
        position: fixed
        left 0
        right 0
        bottom 0
        display: flex
        justify-content: space-around
        a   
            width: 43%
            height: Rem(40)
            line-height: Rem(40)
            text-align: center
            color: #fff
            font-size: Rem(15)
            -webkit-border-radius: 5px
            border-radius: 5px
            background-color: $theme-color
            display: inline-block
        .fc-btna
            background-color: #999999