@import './base'

.fill-cause
    .fc-bx
        background-color #ffffff
        padding 0 Rem(15)
        height Rem(45)
        display: flex
        justify-content: space-between
        align-items: center
        font-size: Rem(15)
        color #666666
        .fc-bxl
            margin-right: Rem(10)
        .fc-bxr
            flex:1
            input 
                width: 100%
                height Rem(35)
                line-height: Rem(35)
                padding: Rem(5) 0
                text-align: right 
                border none 
                font-size: Rem(15)
    .pp-bt
        position: fixed
        width 100%
        left: 0
        bottom: 0
        padding: Rem(10) 0
        text-align: center
        background: #f4f4f4;
        a
            width Rem(150)
            height Rem(40)
            line-height: Rem(40)
            text-align: center
            font-size: Rem(15)
            color: #ffffff
            border-radius: 5px
            display: inline-block
        .pp-bta
            background-color #999999
            margin-right: Rem(45/2)
        .pp-btb
            background-color $theme-color