@import './base'

.money-detail
    position relative
    .md-top
        width 100%
        padding Rem(7) 0
        display: flex
        justify-content: space-between
        align-items: center
        background-color: #ffffff
        border-bottom 1px solid #eeeeee
        >li
            font-size: Rem(12)
            color #666666
            text-align: center
            width 49%
            height Rem(55/2)
            line-height Rem(55/2)
            &.bdr
                border-right 1px solid #eeeeee
            .md-xlIcon
                getBg("xiala")
                width Rem(18/2)
                height Rem(5)
                background-size contain
                display inline-block
                margin-left Rem(5)
                vertical-align middle
    .md-tbig
        position: absolute
        left 0
        right 0
        top: Rem(85/2)
        box-shadow: 0 3px 5px rgba(0,0,0,0.1)
        .md-tbx
            background-color #ffffff
            padding Rem(10) 0
            text-align: center
            display: none
            .md-tday
                display: flex
                justify-content: space-around
                .md-tdayl
                    width Rem(125)
                    text-align: center
                    .md-tdaysa
                        color #999999
                        font-size: Rem(12)
                    .md-tdaysb
                        color #666666
                        font-size: Rem(15)
                        width Rem(125)
                        height Rem(30)
                        line-height Rem(30)
                        background-color #eeeeee
                        border-radius: 5px
                        margin-top Rem(10)
                        text-align: center
                        display: inline-block
                        border none 
            .md-tbxaa
                margin-top Rem(25/2)
                width Rem(150)
                height: Rem(30)
                line-height: Rem(30)
                text-align: center
                color #ffffff
                font-size: Rem(15)
                background-color $theme-color
                display: inline-block
                border-radius: Rem(15)
            .md-tbxb
                padding Rem(10) Rem(15)
                display: flex
                justify-content: space-between
                .md-sa
                    width Rem(148/2)
                    height Rem(58/2)
                    line-height Rem(58/2)
                    text-align: center
                    color $theme-color
                    display: inline-block
                    border 1px solid $theme-color
                    border-radius: 5px
                    font-size: Rem(15)
                    margin-bottom Rem(10)
                    &.active
                        color #ffffff
                        background-color $theme-color
    .md-je
        width 100%
        background-color #ffffff
        font-size: Rem(12)
        padding Rem(10) 0 Rem(20)
        margin-bottom Rem(10)
        .md-jep
            color #666666
            text-align: center
            margin-bottom Rem(20)
        .md-jebx
            display: flex
            justify-content: space-around
            text-align: center
    .md-mx
        padding 0 Rem(5)
        >li
            margin-bottom Rem(10)
            font-size: Rem(12)
            .md-mxbx
                padding Rem(10)
                background-color: #ffffff
                border-radius: 5px
                .md-mxbxp
                    font-size: Rem(15)
                    margin-bottom Rem(5)
                    display: flex
                    justify-content: space-between
                .md-mxbxpb
                    display: flex
                    justify-content: space-between
.red
    color $theme-color
.lv
    color: #80c269
.fs48
    font-size Rem(24)
.fs18
    font-size Rem(9)
.fs24
    font-size Rem(12)
.fs36
    font-size Rem(18)
.c9
    color #999999
.c6
    color #666666
.mt10
    margin-top Rem(5)
.mb10
    margin-bottom Rem(5)