@import './base'

.golden-out
    .cp-ul
        background-color #ffffff
        .cp-lia
            padding: 0 Rem(15)
            height Rem(45)
            border-bottom 1px solid #eeeeee
            display: flex
            align-items: center
            font-size: Rem(12)
            color #999999
            justify-content: space-between
            .c6
                color: #666666
            .fs30
                font-size: Rem(15)
            .fs48
                font-size: Rem(24)
            .fs18
                font-size: Rem(9)
            .red
                color $theme-color
            .ml10
                margin-left: Rem(5)
            .cp-fillbx
                .cp-inpa
                    width Rem(150)
                    height Rem(35)
                    line-height Rem(35)
                    padding Rem(5) 0
                    text-align: right 
                    border: none 
                    color #666666
    .go-fg
        padding 0 Rem(15)
        margin-top Rem(10)
        text-align: right 
        a
            font-size: Rem(12)
            color $theme-color
    .dc-bt
        padding Rem(5) Rem(15)
        position: fixed
        left 0
        right 0
        bottom: 0
        z-index 11
        background-color: #f4f4f4
        .dc-bta
            width 100%
            height Rem(40)
            line-height: Rem(40)
            text-align: center
            color: #ffffff
            font-size: Rem(15)
            background-color: $theme-color
            border-radius: 5px
            display: inline-block
    .dialog 
        display: none
        position: fixed
        left: 0
        top: 0
        width: 100%
        height: 100%
        z-index: 9999
        .dialog-bg 
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            background: #000
            opacity: .3
            z-index: 1
        .dialog-cont 
            position: absolute
            z-index: 2
            background-color: #ffffff
            width 70%
            border-radius: 5px
            .go-tkbx
                padding Rem(10)
                font-size: Rem(12)
                color #666666
                .go-tkbxp
                    text-align: center
                    margin-bottom Rem(10)
                .go-contp
                    font-size: Rem(10)
                    line-height: Rem(18)
            .go-btt
                border-top 1px solid #eeeeee
                font-size: 0
                a
                    font-size: Rem(12)
                    color #666666
                    width 49%
                    height: Rem(35)
                    line-height: Rem(35)
                    text-align: center
                    display: inline-block
                .go-btta
                    color $theme-color
                    border-left 1px solid #eeeeee