@import './base'

.pay-management
    .pm-ula
        background-color #ffffff
        margin-bottom Rem(5)
        .pm-lia
            padding: 0 Rem(15)
            height Rem(45)
            border-bottom 1px solid #eeeeee
            display: flex
            align-items: center
            font-size: Rem(12)
            color #999999
            &.two
                justify-content: space-between
            .pm-liai
                width 3px
                height Rem(14)
                background-color $theme-color
                margin-right Rem(5)
    .pm-bxa
        width 100%
        padding Rem(20) 0
        background-color #ffffff
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom Rem(5)
        a
            width 49%
            height Rem(40)
            line-height Rem(40)
            text-align: center
            color $theme-color
            font-size Rem(15)
            display: inline-block
            .pm-ia
                display: inline-block
                vertical-align: middle
                getBg("c-zfgla")
                width: Rem(65/2)
                height: Rem(41/2)
                background-size: contain
                margin-right Rem(5)
            .pm-ib
                display: inline-block
                vertical-align: middle
                getBg("c-zfglb")
                width: Rem(44/2)
                height: Rem(45/2)
                background-size: contain
                margin-right Rem(5)
            &.pm-aa
                border-right 1px solid #eeeeee
    .pm-bxb
        width 100%
        padding Rem(45/2) 0
        background-color #ffffff
        display: flex
        justify-content: space-around
        align-items: center
        a
            width 33%
            text-align: center
            color #666666
            font-size Rem(15)
            display: inline-block
            .pm-wa
                display: inline-block
                vertical-align: middle
                getBg("c-zfgld")
                width: Rem(73/2)
                height: Rem(68/2)
                background-size: contain
                margin-bottom Rem(5)
            .pm-wb
                display: inline-block
                vertical-align: middle
                getBg("c-zfgle")
                width: Rem(73/2)
                height: Rem(68/2)
                background-size: contain
                margin-bottom Rem(5)
            .pm-wc
                display: inline-block
                vertical-align: middle
                getBg("c-zfglf")
                width: Rem(73/2)
                height: Rem(68/2)
                background-size: contain
                margin-bottom Rem(5)
            em
                display: block
.c6
    color: #666666
.fs30
    font-size: Rem(15)
.fs48
    font-size: Rem(24)
.fs18
    font-size: Rem(9)
.red
    color $theme-color