@import './base'

.pingan-pay
    .cp-tips
        background-color #feecbf
        text-align left
        font-size: Rem(10)
        color #999
        padding Rem(8) Rem(5)
        display flex
        >span
            flex 1
            margin-left Rem(5)
    .pp-ula
        background-color #ffffff
        margin-bottom Rem(5)
        .pp-lia
            padding: 0 Rem(15)
            height Rem(45)
            line-height Rem(45)
            border-bottom 1px solid #eeeeee
            font-size: Rem(15)
            color #666666
            .pp-copya
                width Rem(75)
                height Rem(30)
                line-height: Rem(30)
                text-align: center
                color: #ffffff
                background-color $theme-color
                border-radius: 5px
                display: inline-block
                margin-left Rem(15)
                font-size Rem(15)
            .c6
                color: #666666
            .fs30
                font-size: Rem(15)
            .fs48
                font-size: Rem(24)
            .fs18
                font-size: Rem(9)
            .fs24
                font-size: Rem(12)
            .red
                color $theme-color
            .ml10
                margin-left: Rem(5)
            .coloreb6
                color #eb6100
    .dc-bt
        padding Rem(5) Rem(15)
        position: fixed
        left 0
        right 0
        bottom: 0
        z-index 11
        background-color: #f4f4f4
        .dc-bta
            width 100%
            height Rem(40)
            line-height: Rem(40)
            text-align: center
            color: #ffffff
            background-color: $theme-color
            border-radius: 5px
            display: inline-block
.show-tips
    position:fixed
    width:100%
    top:40%
    z-index:399
    text-align:center
    p
        display:inline-block
        max-width:80%
        background:rgba(0,0,0,.5)
        color:#fff
        border-radius:5px
        padding:Rem(20)
    
