@import './base'

.return-goods
    padding-bottom: Rem(50)
    .ts-ula
        background-color #ffffff
        margin-bottom Rem(5)
        &:last-child
            margin-bottom 0
        .ts-lia
            padding: 0 Rem(15)
            height Rem(45)
            border-bottom 1px solid #eeeeee
            display: flex
            align-items: center
            font-size: Rem(12)
            color #999999
            &.two
                justify-content: space-between
            &.ts-lib
                height auto
                padding 0 Rem(35)
                .rg-txt
                    width 100%
                    padding Rem(5)
                    border: 1px solid #999999
                    height Rem(200)
                    color #666666
                    font-size: Rem(12)
                    line-height: Rem(16)
                    background-color #eeeeee
            &.ts-lino
                border-bottom none 
            .ts-liai
                width 3px
                height Rem(14)
                background-color $theme-color
                margin-right Rem(5)
                display: inline-block
            .c6
                color: #666666
            .fs30
                font-size: Rem(15)
            .fs48
                font-size: Rem(24)
            .fs18
                font-size: Rem(9)
            .red
                color $theme-color
            .ml10
                margin-left: Rem(5)
            .mt10
                margin-top: Rem(5)
            .mb20
                margin-bottom: Rem(10)
    .dc-bt
        padding Rem(5) Rem(15)
        position: fixed
        left 0
        right 0
        bottom: 0
        z-index 11
        background-color: #f4f4f4
        .dc-bta
            width 100%
            height Rem(40)
            line-height: Rem(40)
            text-align: center
            color: #ffffff
            background-color: $theme-color
            border-radius: 5px
            display: inline-block
    
