@import './base'

.register-list
    .rl-box
        padding 0 Rem(5)
        .rl-boxli
            width 100%
            background-color: #ffffff
            margin-bottom Rem(5)
            border-radius: 5px
            color #666666
            font-size: Rem(12)
            .rl-bxtab
                width 100%
                td
                    height Rem(58/2)
                    border-top 1px solid #eeeeee
                    border-right: 1px solid #eeeeee
                    text-align: center
                    vertical-align: middle
                    &.rl-tda
                        width 26%
                        .rl-tdasp
                            width Rem(45/2)
                            height Rem(45/2)
                            line-height: Rem(45/2)
                            border-radius: Rem(45/4)
                            border 1px solid #999999
                            display: inline-block
                            margin-top: Rem(10)
                    &.rl-tdb
                        width 17.8%
                        color: #999999
                    &.rl-tdc
                        width 25%
                    &.rl-tdd
                        width 11.6%
                        color: #999999
                    &.rl-tde
                        text-align: right 
                        padding-right Rem(5)
                        .btna
                            width Rem(133/2)
                            height Rem(22)
                            line-height: Rem(22)
                            text-align: center
                            color #ffffff
                            font-size: Rem(9)
                            border 1px solid $theme-color
                            background-color $theme-color
                            display: inline-block
                            margin-left Rem(10)
                            vertical-align: middle
                            border-radius: 5px
                        .btnb
                            width Rem(133/2)
                            height Rem(22)
                            line-height: Rem(22)
                            text-align: center
                            color $theme-color
                            font-size: Rem(9)
                            border 1px solid $theme-color
                            background-color #ffffff
                            display: inline-block
                            margin-left Rem(10)
                            vertical-align: middle
                            border-radius: 5px
.c9
    color #999999
.fs18
    font-size: Rem(9)
.fs30
    font-size: Rem(15)
.red
    color $theme-color
.left
    float left
.clearfix:after
    content:""
    clear:both
    visibility:hidden
    display:block
    font-size:0
    height:0
    line-height:0