@import './base'

.security-setting
    .ss-bx
        padding 0 Rem(15)
        background-color #ffffff
        height Rem(45)
        display: flex
        justify-content: space-between
        align-items: center
        font-size: Rem(12)
        color #666666
        .ss-a
            color #666666
            display: inline-block
            toMore(0)
            padding-right Rem(10)