@import './base'

.set-password
    .cp-tips
        background-color #feecbf
        text-align left
        font-size: Rem(10)
        color #999
        padding Rem(8) Rem(5)
        display flex
        >span
            flex 1
            margin-left Rem(5)
    .cp-ul
        background-color #ffffff
        .cp-lia
            padding: 0 Rem(15)
            height Rem(45)
            border-bottom 1px solid #eeeeee
            display: flex
            align-items: center
            font-size: Rem(12)
            color #666666
            justify-content: space-between
            .c6
                color: #666666
            .fs30
                font-size: Rem(15)
            .fs48
                font-size: Rem(24)
            .fs18
                font-size: Rem(9)
            .red
                color $theme-color
            .ml10
                margin-left: Rem(5)
            .cp-fillbx
                .cp-inpa
                    width Rem(150)
                    height Rem(35)
                    line-height Rem(35)
                    padding Rem(5) 0
                    text-align: right 
                    border: none 
                    color #666666
                .cp-inpb
                    width Rem(100)
                .cp-yzmbtn
                    width: Rem(90);
                    height: Rem(30);
                    line-height: Rem(30);
                    color: #666;
                    font-size: Rem(12);
                    background-color: #eee;
                    border: 1px solid #ddd;
                    border-radius: 5px;
    .dc-bt
        padding Rem(5) Rem(15)
        position: fixed
        left 0
        right 0
        bottom: 0
        z-index 11
        background-color: #f4f4f4
        .dc-bta
            width 100%
            height Rem(40)
            line-height: Rem(40)
            text-align: center
            color: #ffffff
            font-size: Rem(15)
            background-color: $theme-color
            border-radius: 5px
            display: inline-block