@import './base'
.transace-detail
    padding 0 Rem(5)
    .td-bx
        margin-top Rem(5)
        background-color #ffffff
        border-radius: 5px
        padding Rem(30) Rem(20) Rem(15)
        >p
            text-align: center
        .td-ul
            margin-top Rem(33)
            li
                font-size Rem(12)
                color #999999
                margin-bottom Rem(10)
                &:last-child
                    margin-bottom 0
.red
    color $theme-color
.fs60
    font-size Rem(30)
.fs18
    font-size Rem(9)
.fs24
    font-size Rem(12)
.fs36
    font-size Rem(18)
.c9
    color #999999
.c6
    color #666666
.mt10
    margin-top Rem(5)
.mb10
    margin-bottom Rem(5)