@import './base'

.union-pay
    .up-pa
        text-align: center
        margin: Rem(90) 0 Rem(25)
        i 
            getBg('c-done')
            background-size: Rem(102/2) Rem(73/2);
            width: Rem(102/2);
            height: Rem(73/2);
            display inline-block
            vertical-align middle
    .up-pb
        font-size: Rem(15)
        text-align: center
        color: #666666
    .up-btn
        margin-top Rem(75)
        text-align: center
        .up-btna
            width 95%
            height Rem(40)
            line-height Rem(40)
            font-size: Rem(15)
            text-align: center
            color: #ffffff
            background-color: $theme-color
            border-radius: 5px
            display: inline-block
        