@import './base'

div.laydate-theme-molv
  position fixed
  top auto !important
  left 0px !important
  bottom 0px !important
  width 100% !important
  margin 0 !important
  .layui-laydate-main
    width 100%
    .layui-laydate-header
      padding 8px 70px
    .layui-laydate-header i
      top 8px
  .layui-laydate-content table
    width 100%
  .layui-laydate-content td, .layui-laydate-content th
    height auto !important
    padding 10px 5px
