@import './base'

.ad-foot-smallbtn
  position fixed
  bottom 0
  left 0
  width 100%
  background-color: #fff
  display flex
  justify-content: space-between
  align-items: center
  box-shadow: 0 0 4px #ccc

