@import './base'

.authority-management
  .am-box
    >a
      display block
      botLine()
      toMore()
      padding Rem(15)
      background-color #fff
      color #666
      >span 
        display inline-block
        vertical-align middle
        margin-left Rem(5)
.am-bmIcon
  display inline-block
  vertical-align middle
  width Rem(22)
  height Rem(22)
  background: url('../assets/images/icon/bmIcon.png') no-repeat
  background-size contain
.am-glyIcon
  display inline-block
  vertical-align middle
  width Rem(22)
  height Rem(14)
  background: url('../assets/images/icon/glyIcon.png') no-repeat
  background-size contain
.am-splIcon
  display inline-block
  vertical-align middle
  width Rem(22)
  height Rem(22)
  background: url('../assets/images/icon/splIcon.png') no-repeat
  background-size contain

