
@import './base'

.control-invoices
  .ci-box
    .cib-listpage
      background-color #fff
      margin: Rem(5)
      border-radius: Rem(4)
      padding Rem(10)
      color: #999
      font-size: Rem(12)
      line-height Rem(25)
      display block
      em
        display inline-block
        vertical-align middle
        width:Rem(60)
      span
        color: #333
      .cli-bigmoney
        font-size: Rem(20)
        color: $theme-color
        font-weight: bold
      .cli-nav
        display flex
        justify-content: space-between
        align-items: center
        .cli-fw
          width 60%
        p
          width 40%
          text-align left 