@import './base'

.contact-us
  padding Rem(15)
  background-color #fff
  .cu-img
    height Rem(250)
    img
      width 100%
      max-height 100%
  .cu-txtbox
    padding-top Rem(15)
    color #666
    h1
      border-left Rem(3) solid $theme-color
      padding-left Rem(5)
    .cut-adr
      line-height: Rem(20)
      padding-top Rem(10)
      font-size: Rem(12)
      padding-left Rem(5)
      span
        color: #999