@import './base'

.certified-information
  .ei-page
    margin-bottom Rem(5)
    background-color #fff
    .eip-box
      botLine()
      padding Rem(15)
      display flex 
      align-items: center
      color: #999
      font-size: Rem(12)
      .eip-right
        flex-grow: 1
        text-align right
        padding-left Rem(20)
        input
          width 100%
          border: 0
          text-align right
          color: #666
          font-size: Rem(12)
        textarea
          width 100%
          height Rem(35)
          border: 0
          color: #666
          text-align right
          line-height Rem(15)
          font-size: Rem(12)
    .eipp-cord
      display flex
      justify-content: space-between
      align-items: center
      padding Rem(10) 0
      botLine()
      .eippc-box
        width 50%
        text-align: center
        color: #999
        font-size: Rem(12)
        .eipcc-img
          width Rem(125)
          height Rem(50)
          display flex
          justify-content: center
          align-items: center
          margin Rem(5) auto 0
          img
            max-width 100%
            max-height 100%