@import './base'

.code-confirmation
  .cc-header-list
    background-color #fff
    li
      display flex
      justify-content: space-between
      align-items: center
      height Rem(45)
      line-height: Rem(45)
      font-size: Rem(12)
      padding 0 Rem(10)
      botLine()
      &:last-child
        border-bottom 0
      span
        color: #999
        width 20%
      input
        color #666
        text-align right
        font-size: Rem(14)
        border 0
        flex 1
      .cchl-shuang
        display flex
        justify-content: space-between
        align-items: center
        &:first-child
          width 40%
          padding-right Rem(40)
          border-right 1px solid #eee
        >input
          width 60%
          text-align right
          color: #666
          font-size: Rem(14)
          border 0
    &.cc-bm-list
      margin-top Rem(5)
      text-align center
      margin-bottom Rem(65)
      span
        width 33.333%
      p
        color #666
        width 33.333%
  .cc-foot
    position fixed
    bottom 0 
    left 0
    width 100%
    text-align: center
    background-color #fff
    box-shadow 0 0 4px #cccccc
    padding Rem(10) 0
    >a
      bigBtn()