@import './base'

.enterprise-introduction
  background-color #fff
  color: #666
  font-size: Rem(12)
  .ei-box
    line-height Rem(20)
    img
      max-width 100%
      max-height 100%
      margin 0 auto
      display block
    h1
      font-size: Rem(15)
      text-align center
      padding Rem(15) 0
    .eib-txt
      padding Rem(5)
      text-indent:2em