@import './base'

.forget-password
  .fp-list
    li
      display flex
      justify-content: flex-start
      align-items: center
      padding 0 Rem(15)  
      height Rem(50)
      background-color #fff
      botLine()
      >input
        border 0
        margin-left Rem(5)
        flex 1
      button
        border 1px solid #ccc
        background-color #eee
        color #666
        font-size: Rem(12)
        padding Rem(5)
        border-radius: Rem(2)
  .fp-foot-btn
    margin-top Rem(15)
    >a
      bigBtn()
.fp-telICon
  getBg("tels")
  display block
  width Rem(13)
  height Rem(16)
  background-size contain
.fp-telyzICon
  getBg("telyz")
  display block
  width Rem(13)
  height Rem(16)
  background-size contain
.fp-suoIcon
  getBg("suo")
  display block
  width Rem(13)
  height Rem(16)
  background-size contain
  