@import './base'

.generation
  .g-header
    display flex
    justify-content: space-between
    align-content: center
    color $theme-color
    font-size: Rem(10)
    padding Rem(5) Rem(10)
    background-color #fff
    line-height Rem(18)
    >span
      display: block
      width Rem(40)
      text-align right
    >div
      flex 1
  .g-foot
    position fixed
    bottom 0
    left 0
    width 100%
    >a
      bigBtn()
      margin-bottom Rem(10)
  .g-section
    text-align center
    font-size: Rem(12)
    .gs-img
      height Rem(125)
      margin-top 20%
      img
        max-height 100%
    p
      text-align center
      padding-top Rem(20)