@import './base'

.help-center
  .l-qxListBox
    font-size 0
    background-color #fff
    margin-left -5%
    padding Rem(20) Rem(19) Rem(10)
    .l-qxList
      width 27%
      margin-left 6%
      margin-bottom Rem(10)
      display inline-block
      vertical-align middle
      font-size Rem(12)
      padding Rem(10) 0 Rem(10)
      height Rem(70)
      border-radius Rem(10)
      background-color #eee
      text-align center
      .l-qxopcaect
        img
          max-width 50%
          max-height 50%
        p
          line-height Rem(30)
          width 100%
          color #666