@import './base'
.cc-alert-zfbox
  display none
  position fixed
  bottom 0
  left 0
  width 100%
  background-color #fff
  box-shadow 0 0 4px #ccc
  .ps-xuanze
    position relative
    border-top 1px solid #eee
    width 80%
    margin Rem(30) auto
    >span
      position: absolute
      width: Rem(140)
      left 50%
      margin-left Rem(-70)
      top Rem(-8)
      background-color #fff
      text-align center
      color #666
  .ps-zfbxo
    display flex
    justify-content: center
    align-items: center
    padding Rem(10) 0 Rem(30)
    >a
      font-size: Rem(12)
      text-align center
      color #666
      width 40%
      height Rem(70)
      .psz-pa
        height Rem(40)
      .psz-xx
        height Rem(50)
        margin-top Rem(-10)
      img
        max-height 100%
      p
        padding-top Rem(10)