
@import './base'
.retrieve-password
  .rp-listbox
    li
      botLine()
      height Rem(45)
      line-height: Rem(45)
      font-size: Rem(15)
      background-color #fff
      padding 0 Rem(10) 0 Rem(20)
      display flex
      justify-content: space-between
      align-items: center
      .rpl-shouji
        getBg("shouji")
        background-size contain
        width Rem(23/2)
        height Rem(37/2)
        display inline-block
        vertical-align middle
        margin-right Rem(11/2)
      .rpl-mima
        getBg("mima")
        background-size contain
        width Rem(34/2)
        height Rem(35/2)
        display inline-block
        vertical-align middle
      .rpl-yzm
        getBg("yzm")
        background-size contain
        width Rem(34/2)
        height Rem(37/2)
        display inline-block
        vertical-align middle
      input
        height Rem(40)
        line-height: Rem(40)
        border: 0
        padding-left Rem(5)
      .rplyzm-btn
        width Rem(175/2)
        height Rem(30)
        line-height Rem(30)
        color: #666
        font-size: Rem(12)
        background-color #eeeeee
        border: Rem(1) solid #ddd
        border-radius: Rem(4)
  .rp-sublime
    position fixed
    bottom Rem(15)
    left 5%
    bigBtn()
