@import './base'

.recruit
  .r-section
    background-color #fff
    padding Rem(15) Rem(15) 0
    .swiper-container
      padding-bottom Rem(20)
      .swiper-pagination-bullet-active
        background $theme-color
    .rs-resbox
      margin-left -8.333%
      font-size: 0
      .rs-btns
        font-size: Rem(12)
        width 24%
        height Rem(35)
        line-height Rem(35)
        text-align center
        border-radius: Rem(4)
        color: $theme-color
        background-color #fff
        border Rem(1) solid $theme-color
        display inline-block
        margin-left 8.333%
        margin-bottom Rem(10)
        &.active
          color: #fff
          background-color $theme-color
  .r-secpage
    padding: Rem(10)
    .rs-box
      background-color #fff
      border-radius: Rem(4)
      padding Rem(10)
      color: #666
      h2
        font-size: Rem(15)
        text-align center
        padding Rem(15) 0
        font-weight: bold
      h3
        font-weight: bold
      .rs-nrbox
        margin-bottom Rem(20)
        line-height Rem(16)
        font-size: Rem(12)

