@import './base'

.signing-success
  background-color: #fff
  text-align: center
  position absolute
  top: Rem(50)
  bottom: Rem(55)
  left Rem(5)
  right Rem(5)
  .ss-box
    padding-top 20%
    img
      height Rem(150)
    p
      color #333
      width Rem(200)
      margin: 0 auto
      padding-top Rem(20)
      font-size: Rem(14)
      line-height Rem(22)