@import './base'

$headerSprite(num)
  background: url('../assets/images/icon/header-sprites.png') no-repeat
  background-size Rem(419) Rem(90)
  if num == 1
    background-position Rem(-5) Rem(-5) 
    width Rem(6)
    height Rem(5)
  if num == 2
    background-position Rem(-21) Rem(-5) 
    width Rem(10)
    height Rem(6)
  if num == 3
    background-position Rem(-41) Rem(-5) 
    width Rem(11)
    height Rem(19)
  if num == 4
    background-position Rem(-58) Rem(-5) 
    width Rem(19)
    height Rem(19)
  if num == 5
    background-position Rem(-83) Rem(-5) 
    width Rem(15)
    height Rem(15)
  if num == 6
    background-position Rem(-108) Rem(-5) 
    width Rem(15)
    height Rem(15)
  if num == 7
    background-position Rem(-133) Rem(-5) 
    width Rem(16)
    height Rem(9)
  if num == 8
    background-position Rem(-159) Rem(-5) 
    width Rem(19)
    height Rem(15)
  if num == 9
    background-position Rem(-187) Rem(-5) 
    width Rem(20)
    height Rem(19)
  if num == 10
    background-position Rem(-217) Rem(-5) 
    width Rem(20)
    height Rem(19)
  if num == 11
    background-position Rem(-247) Rem(-5) 
    width Rem(20)
    height Rem(20)
  if num == 12
    background-position Rem(-277) Rem(-5) 
    width Rem(23)
    height Rem(23)
  if num == 13
    background-position Rem(-309) Rem(-5) 
    width Rem(25)
    height Rem(25)
  if num == 14
    background-position Rem(-344) Rem(-5) 
    width Rem(30)
    height Rem(30)
  if num == 15
    background-position Rem(-384) Rem(-5) 
    width Rem(30)
    height Rem(30)
  if num == 16
    background-position Rem(-5) Rem(-55) 
    width Rem(17)
    height Rem(18)
  if num == 17
    background-position Rem(-37) Rem(-43) 
    width Rem(30)
    height Rem(30)

$accSectionSprite(num)
  background: url('../assets/images/icon/acc-section.png') no-repeat
  background-size Rem(109) Rem(39)
  if num == 1
    background-position Rem(-10) Rem(-10) 
    width Rem(19)
    height Rem(19)
  if num == 2
    background-position Rem(-48) Rem(-10) 
    width Rem(16)
    height Rem(19)
  if num == 3
    background-position Rem(-84) Rem(-10) 
    width Rem(15)
    height Rem(17)

$accOrderSprite(num)
  background: url('../assets/images/icon/acc-order-sprites.png') no-repeat
  background-size Rem(115) Rem(76)
  if num == 1
    background-position Rem(-10) Rem(-10) 
    width Rem(21)
    height Rem(19)
  if num == 2
    background-position Rem(-51) Rem(-10) 
    width Rem(19)
    height Rem(18)
  if num == 3
    background-position Rem(-89) Rem(-10) 
    width Rem(16)
    height Rem(18)
  if num == 4
    background-position Rem(-10) Rem(-49) 
    width Rem(17)
    height Rem(17)

$accWalletSprite(num)
  background: url('../assets/images/icon/acc-wallet.png') no-repeat
  background-size Rem(74) Rem(69)
  if num == 1
    background-position Rem(-10) Rem(-10) 
    width Rem(18)
    height Rem(15)
  if num == 2
    background-position Rem(-47) Rem(-10) 
    width Rem(17)
    height Rem(15)
  if num == 3
    background-position Rem(-10) Rem(-44) 
    width Rem(15)
    height Rem(15)

$accInfoSprite(num)
  background: url('../assets/images/icon/acc-info-sprites.png') no-repeat
  background-size Rem(113) Rem(75)
  if num == 1
    background-position Rem(-10) Rem(-10) 
    width Rem(20)
    height Rem(17)
  if num == 2
    background-position Rem(-49) Rem(-10) 
    width Rem(18)
    height Rem(18)
  if num == 3
    background-position Rem(-87) Rem(-10) 
    width Rem(16)
    height Rem(18)
  if num == 4
    background-position Rem(-10) Rem(-47) 
    width Rem(18)
    height Rem(18)
  if num == 5
    background-position Rem(-49) Rem(-47) 
    width Rem(18)
    height Rem(16)
  if num == 6
    background-position Rem(-87) Rem(-47) 
    width Rem(16)
    height Rem(18)

// 底部菜单
$accFooterSprite(num)
  background: url('../assets/images/icon/acc-foot-sprites.png') no-repeat
  background-size Rem(364) Rem(39)
  if num == 1
    background-position Rem(-44) Rem(-21/2) 
    width Rem(27)
    height Rem(24)
  if num == 2
    background-position Rem(-157/2) Rem(-21/2) 
    width Rem(29)
    height Rem(23)
  if num == 3
    background-position Rem(-372/2) Rem(-25/2) 
    width Rem(57/2)
    height Rem(39/2)
  if num == 4
    background-position Rem(-520/2) Rem(-29/2) 
    width Rem(22)
    height Rem(33/2)
  if num == 5
    background-position Rem(-667/2) Rem(-21/2) 
    width Rem(41/2)
    height Rem(24)
  if num == 6
    background-position Rem(-8) Rem(-21/2) 
    width Rem(27)
    height Rem(24)
  if num == 7
    background-position Rem(-229/2) Rem(-21/2) 
    width Rem(29)
    height Rem(23)
  if num == 8
    background-position Rem(-300/2) Rem(-25/2) 
    width Rem(57/2)
    height Rem(39/2)
  if num == 9
    background-position Rem(-450/2) Rem(-29/2) 
    width Rem(22)
    height Rem(33/2)
  if num == 10
    background-position Rem(-595/2) Rem(-21/2) 
    width Rem(41/2)
    height Rem(24)
