
@import './base'

.tmp-zxContain
  background-color #fff
  .tz-title
    position fixed
    top Rem(45)
    left 0
    width 100%
    background-color #fff
    .tzt-bod
      margin Rem(15) Rem(15) 0
      botLine()
      h2
        color: #666
        font-weight: bold
        text-align center
        font-size: Rem(18)
    .tzt-tips
      height Rem(25)
      line-height Rem(25)
      font-size: Rem(10)
      color: #999
      padding Rem(10) Rem(5) 0
      span 
        float right
      .tzt-eye
        display inline-block
        vertical-align middle
        getBg("eyeIcon")
        width Rem(15)
        height Rem(10)
        background-size: contain
        margin-right Rem(5)
  .tz-box
    padding: Rem(100) Rem(15) Rem(15)
    color: #666
    // line-height Rem(15)
    font-size: Rem(12)
    letter-spacing: Rem(0.5)
    img
      max-width 100%
      padding Rem(15) 0
      // max-height Rem(140)
