.hqlist-link
  padding Rem(5)
  height Rem(80)
  margin-bottom Rem(5)
  background-color #fff
  display block
  position relative
  .lipzx-img
    width Rem(115)
    height Rem(75)
    display flex
    justify-content: center
    align-items: center
    float left 
    img
      max-width 100%
      max-height 100%
  .lipzx-txt
    margin 0 Rem(10) 
    margin-left Rem(120)
    h3
      color: #333
      font-size: Rem(13)
      font-weight: bold
      padding-top Rem(5)
    .lipzx-miaoshu
      color #666
      ellps(3)
      font-size: Rem(10)
      line-height Rem(13)
      margin Rem(5) 0 Rem(15)
      height Rem(40)
    .lipzx-time
      text-align right
      color: #666
      font-size Rem(10)
      position absolute
      bottom Rem(10)
      right: Rem(15)