
@import './base'

.tem-financia-voucher
    .tpm-p
        font-size: Rem(9)
        color #999999
        text-align: center
        margin-bottom Rem(5)
    .tpm-ul
        width 82%
        margin: 0 auto Rem(20)
        background-color: #ffffff
        border-radius: 5px
        padding Rem(10)
        .tpm-li
            width 100%
            font-size: Rem(12)
            color #999
            line-height: Rem(21)
            .c6
                color: #666666
            .fs30
                font-size: Rem(15)
            &.two
                display: flex
                justify-content: space-between
                div
                    width 50%
            &:last-child
                border-bottom none 
            .tmp-btnbx
                text-align: right 
                border-top: 1px solid #eeeeee
                padding-top Rem(5)
                a
                    width Rem(57)
                    height Rem(45/2)
                    line-height Rem(45/2)
                    color #ffffff
                    background-color: $theme-color
                    display: inline-block
                    border-radius: 5px
                    text-align: center
            .img
                width Rem(115/2)
                height Rem(53/2)
                vertical-align: middle
                
            