@import './base'

.title-count-more
  background #fff
  padding Rem(12) Rem(15)
  display flex
  justify-content space-between
  line-height Rem(15)
  botLine()
  .tcm-title
    font-size Rem(15)
    color #333333
    padding-left Rem(5)
    border-left Rem(2) solid $theme-color
    color #666666
    i
      font-size Rem(14)
      color #666666
  .tcm-more
    color #666
    padding-right Rem(15)
    toMore(0)