<div class="contact-us">
  <div class="cu-img">
    <img src="./front/images/ditu.png" alt="">
  </div>
  <div class="cu-txtbox">
    <h1>湖南马上银电子商务有限公司</h1>
    <div class="cut-adr">
      <p>业务咨询电话：<span>400-666-3989</span> </p>
      <p>电子邮箱：<span>zoutingting@amer.com.cn</span> </p>
      <p> 地址：<span>湖南省郴州市苏仙区白露塘镇林邑大道创新创业园2栋</span> </p>
    </div>
  </div>
</div>