<div class="dialog-guide-service guide">
  <div class="dgs-top">
    <%= itemWithPic({price:true}) %>
  </div>
  <div class="dgs-meal">
    <h3>套餐选择</h3>
    <div class="dgs-scroll">
      <p data-id="0" class="active">【游丽江】向导服务1天</p>
      <p data-id="1">【游丽江】向导服务2天</p>
      <p data-id="2">【游丽江】向导服务3天</p>
      <p data-id="3">【游丽江】向导服务4天</p>
      <p data-id="4">【游丽江】向导服务5天</p>
      <p data-id="5">【游丽江】向导服务6天</p>
      <p data-id="6">【游丽江】向导服务7天</p>
    </div>
  </div>
  <div class="dgs-date">
    <h3>出发日期</h3>
    <div><input type="text" class="depart-text" readonly placeholder="请选择日期 >>" id="depart-date1"></div>
  </div>
  <button type="button" class="dgs-close">关闭</button>
  <button type="button" class="dgs-pay">确认支付</button>
</div>

<div class="dialog-guide-service consult">
  <div class="dgs-top">
    <%= itemWithPic({price:true}) %>
  </div>
  <div class="dgs-service">
    <h3>服务介绍</h3>
    <p>出行建议--达人为您介绍本地最方便快捷成本的出行方式</p>
    <p>美食介绍--只有本地人才知道的美食，达人为您介绍</p>
    <p>住宿推荐--不同的地方住宿，能够享受不一样的乐趣</p>
    <p>游玩建议--从不同的地方去，有不同的风景</p>
    <p>服务态度--全面的服务态度，保证让您玩得轻松愉快</p>
  </div>
  <div class="dgs-meal">
    <h3>套餐选择</h3>
    <div class="dgs-scroll">
      <p data-id="0" class="active">【游丽江】咨询服务1天</p>
      <p data-id="1">【游丽江】咨询服务2天</p>
      <p data-id="2">【游丽江】咨询服务3天</p>
      <p data-id="3">【游丽江】咨询服务4天</p>
      <p data-id="4">【游丽江】咨询服务5天</p>
      <p data-id="5">【游丽江】咨询服务6天</p>
      <p data-id="6">【游丽江】咨询服务7天</p>
    </div>
  </div>
  <div class="dgs-date">
    <h3>出发日期</h3>
    <div><input type="text" class="depart-text" readonly placeholder="请选择日期 >>" id="depart-date2"></div>
  </div>
  <button type="button" class="dgs-close">关闭</button>
  <button type="button" class="dgs-pay">确认支付</button>
</div>