<% if(isFoot){ %>
  <% if(footType == "account"){ %>
    <div class="page-footer acc-footer fix-footer">
      <a href="javascript:;;" class="f-item item1 active">
        <i class="f-icon"></i>
        <p class="f-name">首页</p>
      </a>
      <a href="javascript:;;" class="f-item item2 ">
        <i class="f-icon"></i>
        <p class="f-name">资讯</p>
      </a>
      <a href="javascript:;;" class="f-item item3 ">
        <i class="f-icon"></i>
        <p class="f-name">商城</p>
        <em class="f-ks-box">已开市</em>
      </a>
      <a href="javascript:;;" class="f-item item4 ">
        <i class="f-icon"></i>
        <p class="f-name">订单</p>
      </a>
      <a href="javascript:;;" class="f-item item5 ">
          <i class="f-icon"></i>
          <p class="f-name">我的</p>
        </a>
    </div>
  <% } %>
<% } %>