<a class="guide-record-item" href="">
  <div class="gri-img"><img src="http://placehold.it/400x300/09f/fff.png"></div>
  <div class="gri-info">
    <h3>徒步向导：美丽丽江、向导全程陪同服务、品位慢生活</h3>
    <p class="i-date">2018-07-25 16:58:29</p>
  </div>
</a>