<div class="halt-item">
  <a class="hi-link" href="">
    <div class="hi-img">
      <img src="http://placehold.it/710x260/09f/fff.png">
    </div>
    <h3 class="hi-title">我走过最长的路，就是去赏花的山路</h3>
  </a>
  <div class="hi-info">
    <p class="i-cont">康定，一座享誉世界的历史文化名城</p>
    <p class="likes" onclick="likedFunc.changeLiked(this)"><i class="icon"></i> 45412</p>
  </div>
</div>