<div class="last-item">
  <a class="li-link" href="">
    <div class="li-img">
      <img src="./front/images/l-photoR01.png">
    </div>
    <h3 class="li-title">在康定</h3>
  </a>
  <div class="li-info">
    <p class="i-cont">康定，一座享誉世界的历史文化名城</p>
    <div class="li-dianz" onclick="linkzan.changeLiked(this)">45412</div>
  </div>
</div>