<a class="guide-record-item" href="">
  <div class="gri-img"><img src="./front/images/missionImg.png"></div>
  <div class="gri-info">
    <h3>丽江古城又名大研镇，坐落于玉龙雪山下丽江坝子中部</h3>
    <div>
        <p class="i-date">带团时间：2018年4月10日</p>
        <p class="i-date i-mt">大理</p>
    </div>
  </div>
</a>