<div class="mr-item">
    <div class="mri-top">
        <div class="mri-img">
            <img src="./front/images/l-manpage01.png">
            <div class="mr-tiply">三日游+5天游</div>
        </div>
        <div class="mri-info">
            <h3>深圳励志冒险探索全能特训7日研学营</h3>
            <div class="mri-hulm">
                <div class="mr-heaImg">
                    <img src="./front/images/l-manHea01.png" alt="">
                </div>
                <div>
                <p class="mr-name">鹿友大团长</p>
                <p>A级旅游达人</p>
                </div>
                <div>
                    <p><i><em>￥</em>99.00<em>起</em></i></p>
                    <div class="mr-jp"><span class="mr-jpIcon"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>