<div class="swiper-container swiper-trialDetail">
  <div class="swiper-wrapper">
      <div class="swiper-slide"><img class="fuil-img" src="http://placehold.it/<%= w+'x'+h %>/6fc3ff/fff.png"></div>
      <div class="swiper-slide"><img class="fuil-img" src="http://placehold.it/<%= w+'x'+h %>/6fc3ff/fff.png"></div>
      <div class="swiper-slide"><img class="fuil-img" src="http://placehold.it/<%= w+'x'+h %>/6fc3ff/fff.png"></div>
  </div>
  <!-- 如果需要分页器 -->
  <div class="swiper-pagination"></div>
</div>