<div class="se-list">
    <div class="se-top">
        <div class="se-topl">
            <img src="./front/images/l-manpage01.png">
            <span class="se-toplsa">三日游</span>
        </div>
        <div class="se-topr">
            <h3 class="se-toprh">徒步向导：美丽丽江、向导全程陪同服务、品位慢生活</h3>
            <p class="se-toprpa"><span>¥</span>4848.00</p>
            <p class="se-toprpb">
                <span>丽江</span>
                <span>产品编号：XLW123456</span>
            </p>
        </div>
    </div>
    <div class="se-bottom">
        <p class="se-btp">
            <span class="se-btpl">出发地：深圳</span>
            <span class="se-btpr">团位：20人</span>
        </p>
        <p class="se-btp">
            <span class="se-btpl">合销商户：小鹿网旅游</span>
            <span class="se-btpr">结算：单次/每月</span>
        </p>
    </div>
</div>