<a href="javascript:;;" class="hqlist-link">
  <div class="lipzx-img">
    <img src="http://placehold.it/230x150/14ccf3/fff.png" alt="">
  </div>
  <div class="lipzx-txt">
    <h3>银价节后持续上涨 多依旧主导市场</h3>
    <p class="lipzx-miaoshu">香港万得通讯社报道，央行周一重启逆回购操作，进行800亿7天、700亿14天逆回购操作，当日有20操作，当日有200亿逆回购，净投放1300亿；此外今日还有800亿国库现金定存到期。</p>
    <p class="lipzx-time">今天 14:08</p>
  </div>
</a>