<div class="tmp-zxContain">
  <div class="tz-title">
    <div class="tzt-bod">
        <h2>资讯标题</h2>
        <div class="tzt-tips">
          <em>
            <i class="tzt-eye"></i>523
          </em>
          <span>发布时间：20180 12:20:25</span>
        </div>
    </div>
  </div>
  <div class="tz-box">
      一、昨日银市回顾
      <br/><br/>
      白银价格昨日继续拉升，正如我们所说，当前银价正处于上涨格局之中，虽然昨日行情出现短线买盘力量不足迹象，但空头动能更加疲软，尚不足以令走势发生调整，最终银价以“空中加油”的方式完成蓄能，而后行情继续维持上涨格局，目前短线买盘力量不足的状况已经修复，推测后市白银仍将继续保持上涨的概率较大。值得注意的是，目前走势正处于新一轮主升浪上涨之中，但当前V型上涨不可能永远持续下去，最终走势回归“进三退二”式上涨格局的概率较大，因此未来行情若出现调整，并非代表银价反转下跌，而是展开一轮回踩浪的可能性较高。
      <br/><br/>
      <img src="./front/images/zxlist.png" alt="">
      <br/><br/>
      二、基本面概述及逻辑
      <br/><br/>
      元旦假期和圣诞假期金银价格的上涨，说明投机者和机构已经开始不断建仓，大部分反弹都是在假日期间，其日均交易量低于正常水平，根据历年情况来看，此时也是机构和投机者大举买入的时机。当主力市场有意抬升价格后，不难理解近期走势开启V型上涨的原因。除此之外，消息面也帮助投资者涌入贵金属市场，其一是朝鲜局势在进入2018年后发生进一步危机，避险情绪上升帮助贵金属进一步拉升；其二是近期比特币大幅下跌，1月2日，当地时间下午3点55分，比特币的交易价为13440美元，较上周五下跌6.1%，自2015年以来首次出现比特币开年下跌的情况。这导致更多的资金开始回流至正在上涨的黄金白银市场，投机者希望在另外一个即将上涨的市场获得利润，这继续帮助金银价格拉升。另外，近期美国公布的经济数据表现平淡或不佳，这也在一定程度上为金银带来支撑。日内投资者可继续关注晚间23:00公布的美国11月营建支出、美国12月ISM制造业采购经理人指数。
  </div>
</div>