<div class="title-count-more">
  <h3 class="tcm-title"><%= str %><i><%= (typeof(num) !='undefined' ? num : true) ? '（189）' : '' %></i></h3>
  <%= (typeof(more) !='undefined' ? more : true) ? '<a href="" class="tcm-more">更多</a>' : '' %>
</div>