<div class="travels-note-item">
  <a class="tni-link" href="">
    <div class="tni-img">
      <img src="http://placehold.it/710x260/09f/fff.png">
      <span class="tni-date">2018年5月10日</span>
    </div>
    <h3 class="tni-title">我走过最长的路，就是去赏花的山路</h3>
  </a>
  <div class="tni-info">
    <div class="tnii-view">
      <p>浏览数：56872</p>
      <p class="likes" onclick="likedFunc.changeLiked(this)"><i class="icon"></i> 45412</p>
    </div>
    <a href="" class="tni-msg">留言</a>
  </div>
</div>