
<div class="travels-box">
  <div class="tb-bot">
      <div class="tb-img">
          <img src="./front/images/l-photoR02.png" alt="">
          <div class="tb-tipstime">2018年5月10日</div>
      </div>
      <div class="tb-txt">我走过最长的路，就是去赏花的山路</div>
  </div>
  <div class="tb-foot-flex">
      <div class="tbf-page">
          <div>浏览数：56872</div>
          <div class="tb-dianz" onclick="linkzan.changeLiked(this)">45412</div>
      </div>
      <div class="tb-kefu">2</div>
  </div>
</div>