<div class="delivery-pay">
    <div class="cp-tips">
        <i class="gtIcon"></i>
        <span>注意：目前贵司可支持“现款现货”、“预付款+多次提货”、“预付款+银票“和“无保证金、非当日点价”，了解当前的支付条件请咨询客服。</span>
    </div>
    <ul class="ts-ula">
        <li class="ts-lia two">
            <span>订单编号</span>
            <span class="c6 fs30">2105556522555</span>
        </li>
        <li class="ts-lia two">
            <span>品名</span>
            <span class="c6 fs30">白银999</span>
        </li>
        <li class="ts-lia two">
            <span>当前订单总金额</span>
            <span class="red fs30">20000000000.00元</span>
        </li>
        <li class="ts-lia two">
            <span>最终单价</span>
            <span class="c6 fs30">3565<i class="red">+3</i>元/kg</span>
        </li>
        <li class="ts-lia two">
            <span>贷款总额</span>
            <span class="red fs30">20000000.00元</span>
        </li>
        <li class="ts-lia two">
            <span>结算方式</span>
            <span class="c6 fs30">无保证金+我方点价权</span>
        </li>
        <li class="ts-lia two">
            <span>需要缴纳的延期点价费</span>
            <span class="red fs30">20000000.00元</span>
        </li>
        <li class="ts-lia two">
            <span>可生产仓单的数量</span>
            <span class="c6 fs30">2030kg</span>
        </li>
        <li class="ts-lia two">
            <span><i class="red">*</i>本次生成仓单数量</span>
            <span class="c6 fs30 ts-spbx"><input  type="text" placeholder="请输入本次生成仓单数量"></span>
        </li>
        <li class="ts-lia two">
            <span>本次提货所需金额</span>
            <span class="red fs48">3565.00元</span>
        </li>
    </ul>
    
    <div class="cp-bt ">
        <p class="cp-btp">
            <i></i>
            <span class="c6">请选择支付方式</span>
        </p>
        <ul class="cp-btul">
            <li>
                <a href="javascript:void(0)"><i class="cp-btai"></i></a>
                <p>返回订单中心</p>
            </li>
            <li>
                <a href="javascript:void(0)"><i class="cp-btbi"></i></a>
                <p>平安现货交易通</p>
            </li>
            <li>
                <a href="javascript:void(0)"><i class="cp-btci"></i></a>
                <p>线下支付</p>
            </li>
        </ul>
    </div>
</div>