<div class="return-goods">
    <ul class="ts-ula">
        <li class="ts-lia">
            <i class="ts-liai"></i>
            <span class="c6 fs30">最终结算结果</span>
        </li>
        <li class="ts-lia two">
            <span>当前订单总金额</span>
            <span class="red fs30">4000000.00元</span>
        </li>
        <li class="ts-lia two">
            <span>产品品名</span>
            <span class="c6 fs30">1#银</span>
        </li>
        <li class="ts-lia two">
            <span>数量</span>
            <span class="c6 fs30">365200kg</span>
        </li>
        <li class="ts-lia two">
            <span>退款金额</span>
            <span class="red fs30">4000000.00元</span>
        </li>
    </ul>
    <ul class="ts-ula">
        <li class="ts-lia ts-lino">
            <i class="ts-liai"></i>
            <span class="c6 fs30">退款说明</span>
        </li>
        <li class="ts-lia  ts-lib">
            <div>
                <textarea class="rg-txt"></textarea>
                <p class="mt10 mb20">
                    <i class="gtIcon"></i>
                    <span class=" fs18">请如实填上以上信息，我司会在1到2个工作日答复你</span>
                </p>
            </div>
        </li>
    </ul>

    <div class="dc-bt">
        <a class="dc-bta fs30" href="javascript:void(0)">下一步</a>
    </div>
</div>
