<div class="fill-cause">
    <div class="fc-bx">
        <span class="fc-bxl">填写审核原因</span>
        <span class="fc-bxr"><input type="text" placeholder="请输入审核原因"></span>
    </div>
    <div class="pp-bt">
        <a class="pp-bta" href="javascript:void(0)">审核拒绝</a>
        <a class="pp-btb" href="javascript:void(0)">审核通过</a>
    </div>
</div>