<div class="under-payment">
  <div class="up-section">
    <ul class="ups-list">
      <li>
        <span>· 当前订单金额需付xxxx元，请及时支付!</span>
      </li>
      <li>
        <span>· 我方平台银行信息</span>
      </li>
      <li>
        <span>· 开户银行：华融湘江银行股份有限公司郴州东城支行</span>
      </li>
      <li>
        <span>· 账号：7104 0309 0000 1756 8</span>
      </li>
    </ul>
  </div>
  <div class="up-section">
    <ul class="ups-list">
      <li>
        <span>填写线下汇款银行</span>
        <input type="text" placeholder="请填写线下汇款银行">
      </li>
      <li>
        <span>填写线下汇款卡号</span>
        <input type="text" placeholder="请填写线下汇款卡号">
      </li>
      <li>
        <span>填写线下汇款金额</span>
        <input type="text" placeholder="请填写线下汇款金额">
      </li>
    </ul>
    <div class="up-tips">
      <i class="gtIcon"></i>
      <span>请填写以上信息并且在已经付款完成的情况下点击完成线下支付按钮</span>
    </div>
  </div>
  <div class="up-foot">
    <div class="ps-xuanze">
      <span>操作</span>
    </div>
    <div class="upf-btnbox">
       <a href="javascript:;;">我已完成线下支付</a>
       <a href="javascript:;;" class="active">选择在线支付</a>
    </div>
  </div>
</div>