<div class="sales-full">
  <div class="sf-page">
    <div class="sfp-box">
      <span>产品品名</span>
      <div>
        <input type="text" value="铅精矿" readonly>
      </div>
    </div>
    <div class="sfp-box">
      <span>需方</span>
      <div>
        <input type="text" value="湖南马上银电子商务有限公司" readonly>
      </div>
    </div>
    <div class="sfp-box">
      <span>购销类型</span>
      <div>
        <input type="text" value="采购" readonly>
      </div>
    </div>
    <div class="sfp-tab">
      <p>规格</p>
      <table class="sfp-table">
        <tr>
          <th>金属名称</th>
          <th>金属含量</th>
          <th>计价方式</th>
          <th>计价/扣减单位</th>
        </tr>
        <tr>
          <td>金</td>
          <td>Au≥1克</td>
          <td>-60</td>
          <td>/克</td>
        </tr>
        <tr>
          <td>银</td>
          <td>Ag≥1000克</td>
          <td>按基准价的90%计价</td>
          <td>/克</td>
        </tr>
        <tr>
          <td>铅</td>
          <td>Pb＞50%</td>
          <td>-1500</td>
          <td>/金属吨</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="sf-page sf-xiabox">
    <div class="sfp-box">
      <span>数量</span>
      <div>
        <input type="text" value="100T" readonly>
      </div>
    </div>
    <div class="sfp-box">
      <span>交货地点</span>
      <div>
        <input type="text" value="买方指定" readonly>
      </div>
    </div>
    <div class="sfp-box">
      <span>定价日</span>
      <div>
        <input type="text" value="均价" readonly>
      </div>
    </div>
    <div class="sfp-box">
      <span>包装</span>
      <div>
        <input type="text" value="袋装" readonly>
      </div>
    </div>
    <div class="sfp-box">
      <span>附含</span>
      <div>
        <input type="text" value="Sb ≥3" readonly>
      </div>
    </div>
    <div class="sfp-box">
      <span>杂质</span>
      <div>
        <input type="text" value="硫（S）≥12%，Pb<8%" readonly>
      </div>
    </div>
    <div class="sfp-box">
      <span>结算方式</span>
      <div>
        <input type="text" value="年结算" readonly>
      </div>
    </div>
    <div class="sfp-box">
      <span>发票要求</span>
      <div>
        <input type="text" value="增值税专用发票" readonly>
      </div>
    </div>
  </div>

  <div class="sf-foot-fixe">
    <div class="sff-check-box">
      <input type="checkbox" class="p-hook" checked>
      <span>我已同意以上报价并遵守《马上银产业互联网交易总则》</span>
    </div>
    <div class="sff-btnbox">
      <a href="javascript:;;" class="kfbg"><i class="sffb-kficon"></i> <span>在线客服</span></a>
      <!-- 其他企业查看子单 显示 （返回商品列表）按钮-->
      <!-- <a href="javascript:;;">返回商品列表</a> -->
      <!-- 精矿采购/销售子单 显示 （提交申请） 按钮-->
      <a href="javascript:;;">提交申请</a>
    </div>
  </div>
</div>