<div class="contract-confimation">
  <!-- 步骤 -->
  <div class="cc-header">
      <%= tcm({num:2}) %>
  </div>
  <!-- 合同 -->
  <div class="cc-htBox">
    
  </div>
  <!-- 尾部确认 -->
  <div class="cc-foot">
    <ul class="ccf-secbox">
      <li>
        <div>需方</div>
        <div>未确认</div>
        <div class="ccfs-gsname">郴州市金贵银业股份有限公司</div>
      </li>
      <li>
        <div>供方</div>
        <div>已确认</div>
        <div class="ccfs-gsname">湖南马上银电商平台</div>
      </li>
    </ul>
    <a href="javasctipt:;;" class="ccf-btn">确认合同</a>
  </div>
</div>