<div class="fill-consignee">
    <ul class="ts-ula">
        <li class="ts-lia">
            <i class="ts-liai"></i>
            <span class="c6 fs30">货物信息</span>
        </li>
        <li class="ts-lia two">
            <span>合同编号</span>
            <span class="c6 fs30">HTXH2001852222252</span>
        </li>
        <li class="ts-lia two">
            <span>订单信息</span>
            <span class="c6 fs30">银锭(365kg)</span>
        </li>
        <li class="ts-lia two">
            <div>
                <span>最晚提货时间</span>
                <p>
                    <i class="gtIcon"></i>
                    <span class="red fs18">提示：逾期提货产生的仓库费用由本人承担</span>
                </p>
            </div>
            <span class="c6 fs30">2018-08-08</span>
        </li>
    
    </ul>
    <ul class="ts-ula">
        <li class="ts-lia two ">
            <div class="ca-bx">
                <i class="ts-liai"></i>
                <span class="c6 fs30">提货人信息</span>
            </div>
            <div>
                <a class="fc-btna" onclick="hoptab('thrtk')" href="javascript:void(0)">+添加提货人</a>
                <a class="fc-btna ml10" href="javascript:void(0)">管理提货人</a>
            </div>
        </li>
        <li class="ts-lia two">
            <div>
                <i class="red">*</i>
                <span >提货人名字</span>
            </div>
            <div class="slc-box active">
                <input type="text" readonly data-source="0" class="slc-curr c6 fs30" value="李军" placeholder="请选择">>
                <ul class="slc-list">
                  <li data-source="0" class="active">李军</li>
                  <li data-source="1">张三</li>
                </ul>
            </div>
        </li>
        <li class="ts-lia two">
            <div>
                <p>
                    <i class="red">*</i>
                    <span >提货人身份证</span>
                </p>
                <p>
                    <i class="gtIcon"></i>
                    <span class="red fs18">提示：本平台对身份信息保密</span>
                </p>
            </div>
            <span class="c6 fs30">551236654455698745</span>
        </li>
        <li class="ts-lia two">
            <div>
                <p>
                    <i class="red">*</i>
                    <span >提货人手机号</span>
                </p>
                <p>
                    <i class="gtIcon"></i>
                    <span class="red fs18">提示：本平台对身份信息保密</span>
                </p>
            </div>
            <span class="c6 fs30">13800138000</span>
        </li>
        <li class="ts-lia two ts-lic">
            <div>
                <p class="c6 fs20 mb5"><i class="red">*</i>身份证正面</p>
                <p class="mb40"><img class="img" src="./front/images/c-sfza.png" alt=""></p>
                <p class="c6 fs20 mb5"><i class="red">*</i>身份证背面</p>
                <p class=""><img class="img" src="./front/images/c-sfza.png" alt=""></p>
            </div>
        </li>
    </ul>
    <ul class="ts-ula">
        <li class="ts-lia two ">
            <div class="ca-bx">
                <i class="ts-liai"></i>
                <span class="c6 fs30">司机信息</span>
            </div>
            <div>
                <a class="fc-btna" onclick="hoptab('dritk')" href="javascript:void(0)">+添加司机</a>
                <a class="fc-btna ml10" href="javascript:void(0)">管理司机</a>
            </div>
        </li>
        <li class="ts-lia two">
            <div>
                <i class="red">*</i>
                <span >司机1姓名</span>
            </div>
            <div class="slc-box active">
                <input type="text" readonly data-source="0" class="slc-curr c6 fs30" value="李军" placeholder="请选择">>
                <ul class="slc-list">
                  <li data-source="0" class="active">李军</li>
                  <li data-source="1">张三</li>
                </ul>
            </div>
        </li>
        <li class="ts-lia two">
            <div>
                <p>
                    <i class="red">*</i>
                    <span >司机手机号</span>
                </p>
                <p>
                    <i class="gtIcon"></i>
                    <span class="red fs18">提示：本平台对身份信息保密</span>
                </p>
            </div>
            <span class="c6 fs30">13800138000</span>
        </li>
        <li class="ts-lia two">
            <p>
                <i class="red">*</i>
                <span >司机车牌号</span>
            </p>
            <span class="c6 fs30">粤love15</span>
        </li>
        <li class="ts-lia two">
            <div>
                <p>
                    <i class="red">*</i>
                    <span >司机身份证</span>
                </p>
                <p>
                    <i class="gtIcon"></i>
                    <span class="red fs18">提示：本平台对身份信息保密</span>
                </p>
            </div>
            <span class="c6 fs30">551236654455698745</span>
        </li>
        <li class="ts-lia two ts-lic">
            <div>
                <p class="c6 fs20 mb5"><i class="red">*</i>身份证正面</p>
                <p class="mb40"><img class="img" src="./front/images/c-sfza.png" alt=""></p>
                <p class="c6 fs20 mb5"><i class="red">*</i>身份证背面</p>
                <p class=""><img class="img" src="./front/images/c-sfza.png" alt=""></p>
            </div>
        </li>
    </ul>
    <ul class="ts-ula">
        <li class="ts-lia two">
            <div>
                <i class="red">*</i>
                <span >司机2姓名</span>
            </div>
            <div class="slc-box active">
                <input type="text" readonly data-source="0" class="slc-curr c6 fs30" value="李军" placeholder="请选择">>
                <ul class="slc-list">
                  <li data-source="0" class="active">李军</li>
                  <li data-source="1">张三</li>
                </ul>
            </div>
        </li>
        <li class="ts-lia two">
            <div>
                <p>
                    <i class="red">*</i>
                    <span >司机手机号</span>
                </p>
                <p>
                    <i class="gtIcon"></i>
                    <span class="red fs18">提示：本平台对身份信息保密</span>
                </p>
            </div>
            <span class="c6 fs30">13800138000</span>
        </li>
        <li class="ts-lia two">
            <p>
                <i class="red">*</i>
                <span >司机车牌号</span>
            </p>
            <span class="c6 fs30">粤love15</span>
        </li>
        <li class="ts-lia two">
            <div>
                <p>
                    <i class="red">*</i>
                    <span >司机身份证</span>
                </p>
                <p>
                    <i class="gtIcon"></i>
                    <span class="red fs18">提示：本平台对身份信息保密</span>
                </p>
            </div>
            <span class="c6 fs30">551236654455698745</span>
        </li>
        <li class="ts-lia two ts-lic">
            <div>
                <p class="c6 fs20 mb5"><i class="red">*</i>身份证正面</p>
                <p class="mb40"><img class="img" src="./front/images/c-sfza.png" alt=""></p>
                <p class="c6 fs20 mb5"><i class="red">*</i>身份证背面</p>
                <p class=""><img class="img" src="./front/images/c-sfza.png" alt=""></p>
            </div>
        </li>
    </ul>
   <p class="fc-gzp">
        <input type="checkbox" class="p-hook" checked="">
        <span>已确认以上信息无误并遵守</span>
        <a class="red" href="javascript:void(0)">《马上银产业互联网交易总则》</a>
   </p>
    <div class="fc-btn">
        <a class="fc-btna" href="javascript:void(0)">重置</a>
        <a class="" href="javascript:void(0)">下一步</a>
    </div>

    <!-- 弹框 -->
    <div class="dialog thrtk">
        <div class="dialog-bg dialog-close"></div>
        <div class="dialog-cont   ">
            <div class="fc-tkbx">
                <p class="fc-tkbxp">添加提货人信息</p>
                <div class="clearfix fc-tkxx">
                    <a class="active" href="javascript:void(0)">张三丰</a>
                    <a href="javascript:void(0)">张无忌</a>
                    <a href="javascript:void(0)">如花</a>
                    <a href="javascript:void(0)">张三丰</a>
                    <a href="javascript:void(0)">张三丰</a>
                    <a href="javascript:void(0)">张三丰</a>
                    <a href="javascript:void(0)">张三丰</a>
                </div>
                <div class="fc-btt">
                    <a class="" href="javascript:void (0)">确定</a>
                    <a class="dialog-close fc-btta" href="javascript:void (0)">取消</a>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog dritk">
            <div class="dialog-bg dialog-close"></div>
            <div class="dialog-cont   ">
                <div class="fc-tkbx">
                    <p class="fc-tkbxp">添加司机信息</p>
                    <div class="clearfix fc-tkxx">
                        <a class="active" href="javascript:void(0)">张三丰</a>
                        <a href="javascript:void(0)">张无忌</a>
                        <a href="javascript:void(0)">如花</a>
                        <a href="javascript:void(0)">张三丰</a>
                        <a href="javascript:void(0)">张三丰</a>
                        <a href="javascript:void(0)">张三丰</a>
                        <a href="javascript:void(0)">张三丰</a>
                    </div>
                    <div class="fc-btt">
                        <a class="" href="javascript:void (0)">确定</a>
                        <a class="dialog-close fc-btta" href="javascript:void (0)">取消</a>
                    </div>
                </div>
            </div>
        </div>
</div>