<div class="details-invoice">
  <div class="di-title-money">
    <span>发票金额：</span>
    <em>500,000,000.0元</em>
  </div>
  <ul class="di-list">
    <li>
      <p>发票编号</p><span>FP-001</span>
    </li>
    <li>
      <p>品名</p><span>白银999</span>
    </li>
    <li>
      <p>数量</p><span>1006.653kg</span>
    </li>
    <li>
      <p>发票状态</p>
      <div>
        <span>已开票</span>
        <a href="lzxcauseRefund.html" class="di-smallbtn">申请退票</a>
      </div>
    </li>
    <li>
      <p>收件人</p><span>东邪</span>
    </li>
    <li>
      <p>手机号</p><span>13510530670</span>
    </li>
    <li>
      <p>地址</p><span>广东白云山</span>
    </li>
    <li>
      <p>邮寄单号</p><span>8765780981</span>
    </li>
    <li>
      <p>收取方式</p><span>邮寄</span>
    </li>
    <li>
      <p>发票备注</p><span>\</span>
    </li>
    <li>
      <p>发生时间</p><span>2017-12-19 19:33:18</span>
    </li>
  </ul>
  <a href="javascript:;" class="di-vbtn">返回</a>
</div>