<div class="applicate-delivery">
    <!-- 提示 -->
    <div class="cp-tips">
        <i class="gtIcon"></i>
        <span>温馨提示：目前贵司可支持“现款现货”、“预付款+多次提货”、“预付款+银票“和“无保证金、非当日点价”，了解当前的支付条件请咨询客服。</span>
    </div>
    <ul class="cp-ul">
        <li>
            <span>首次确认单价</span>
            <span class="fs30 c6">3665.00kg/元(3653+12)</span>
        </li>
        <li>
            <span>订单总金额</span>
            <span class="fs30 red">36650000.00元</span>
        </li>
        <li>
            <span>数量</span>
            <span class="fs30 c6">2302kg</span>
        </li>
        <li>
            <span>需要交纳账期升水补偿</span>
            <span class="fs30 c6">1.58元/天 kg</span>
        </li>
    </ul>
    <div class="cp-tips">
        <i class="gtIcon"></i>
        <span>提示：合同签订的(单价+升贴水)*年利率÷12÷30</span>
    </div>
    <ul class="cp-ul">
        <li>
            <span>当前的账期</span>
            <span class="fs30 c6">2天</span>
        </li>
        <li>
            <span>最晚提货时间</span>
            <span class="fs30 c6">2018-08-09</span>
        </li>
        <li>
            <div>
                <i class="red">*</i>
                <span class="c6">本次提货时间</span>
            </div>
            <div class="c6 fs30">
               请选择本次提货时间 >
            </div>
        </li>
        <li>
            <span class="c6">提货/仓单</span>
            <div class="ad-selbx c6 f30">
                <input type="text" readonly data-source="0" class="slc-curr" value="直接提货" placeholder="请选择"> >
                <ul class="slc-list">
                    <li data-source="0" class="active">直接提货</li>
                    <li data-source="1">生成仓单</li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="dc-bt">
        <a class="dc-bta fs30" href="javascript:void(0)">填写完毕，点击下一步</a>
    </div>
</div>