<div class="help-center-detail">
  <div class="hcd-box">
    <h2>法律声明</h2>
    <p class="time">发布时间：2018-01-26 19:45:50</p>
    <div class="hcb-center">
      <!-- html -->
      <p>
          <p style="text-align: center;font-size:18px;line-height:30px">湖南马上银电子商务有限公司法律申明</p>
          1.湖南马上银电子商务有限公司服务条款确认<br/>
          马上银电商平台的各项网络电子服务的所有权和运营权归湖南马上银电子商务有限公司，任何单位和个人非经本公司授权不得以本公司及其所有的网站名义进行商业或非商业活动。 湖南马上银电子商务有限公司提供的服务将严格按照本公司及本网发布的服务条款和操作规则执行。 用户必须确认所有服务条款并完成注册程序，才能成为湖南马上银电子商务有限公司的正式用户。
      </p>
    </div>
  </div>
</div>