<div class="confirmation-receivables">
  <ul class="cr-list-box">
    <li>
      <span>合同单价</span>
      <div>
        <em>3652.00元/kg</em>
      </div>
    </li>
    <li>
      <span>预付款金额</span>
      <div>
        <em class="cr-red">5324234234.00元</em>
      </div>
    </li>
    <li>
      <span>交易凭证</span>
      <div class="crl-img scale-img">
        <img src="http://placehold.it/220x120/6fc3ff/fff.png" alt="">
      </div>
    </li>
    <li>
      <span>是否审核通过</span>
      <div class="slc-box">
        <input type="text" readonly data-source="0" class="slc-curr" value="" placeholder="请选择">
        <ul class="slc-list">
          <li data-source="0">不通过</li>
          <li data-source="1">通过</li>
        </ul>
      </div>
    </li>
    <li>
      <span>备注</span>
      <div class="crl-textarea">
        <textarea></textarea>
      </div>
    </li>
  </ul>

  <div class="crl-foot">
    <a href="javascript:;;">提交</a>
  </div>
</div>