<div class="delivery-pay">
        <div class="cp-tips">
            <i class="gtIcon"></i>
            <span>注意：确认好所有信息之后，平台将所剩金额退还到您的卡上！费用结清之后预付款将自动解冻！</span>
        </div>
        <ul class="ts-ula">
            <li class="ts-lia two">
                <span>合同总金额</span>
                <span class="c6 fs30">20000000.00元</span>
            </li>
            <li class="ts-lia two">
                <span>合同签订日期</span>
                <span class="c6 fs30">2018-08-09 14:22:33</span>
            </li>
            <li class="ts-lia two">
                <span>提货日期</span>
                <span class="c6 fs30">2018-08-09</span>
            </li>
            <li class="ts-lia two">
                <span>合同签订的最终单价</span>
                <span class="c6 fs30">3565.00元</span>
            </li>
            <li class="ts-lia two">
                <span>年利率</span>
                <span class="c6 fs30">15.0%</span>
            </li>
            <li class="ts-lia two">
                <span>合同约定账期</span>
                <span class="c6 fs30">2天</span>
            </li>
            <li class="ts-lia two">
                <span>实际已累积的自然日</span>
                <span class="c6 fs30">1.58元/天/kg</span>
            </li>
            <li class="ts-lia two">
                <span>订单重量</span>
                <span class="c6 fs30">2030kg</span>
            </li>
            <li class="ts-lia two">
                <span>需要交纳补偿费用</span>
                <span class="red fs30">20000000.00元</span>
            </li>
            <li class="ts-lia two">
                <span>订单总金额</span>
                <span class="red fs30">20000000.00元</span>
            </li>
            <li class="ts-lia two">
                <span>实际应支付金额</span>
                <span class="red fs30">20000000.00元</span>
            </li>
        </ul>
        
        <div class="cp-bt ">
            <p class="cp-btp">
                <i></i>
                <span class="c6">请选择支付方式</span>
            </p>
            <ul class="cp-btul">
                <li>
                    <a href="javascript:void(0)"><i class="cp-btai"></i></a>
                    <p>返回订单中心</p>
                </li>
                <li>
                    <a href="javascript:void(0)"><i class="cp-btbi"></i></a>
                    <p>平安现货交易通</p>
                </li>
                <li>
                    <a href="javascript:void(0)"><i class="cp-btci"></i></a>
                    <p>线下支付</p>
                </li>
            </ul>
        </div>
    </div>