<div class="order-detailed">
    <ul class="od-fixtop">
        <li class="active">所有明细</li>
        <li>议价</li>
        <li>合同</li>
        <li>支付</li>
    </ul>
    <ul class="od-bx">
        <li>2018-04-25 19:15:12      提交议价,提交价格为3658,升贴水为5。</li>
        <li>2018-04-25 19:15:12      提交议价,提交价格为3658,升贴水为5。</li>
        <li>2018-04-25 19:15:12      提交议价,提交价格为3658,升贴水为5。</li>
        <li>2018-04-25 19:15:12      提交议价,提交价格为3658,升贴水为5。</li>
    </ul>
</div>