<div class="golden-out">
    <ul class="cp-ul">
        <li class="cp-lia ">
            <span>企子账户账号</span>
            <span class=" c6">888000111211230</span>
        </li>
        <li class="cp-lia ">
            <span>出金账户名称</span>
            <span class=" c6">平安测试九五二七</span>
        </li>
        <li class="cp-lia ">
            <span>出金开户行名</span>
            <span class=" c6">华融湘江银行股份有限公司郴州东城支行</span>
        </li>
        <li class="cp-lia ">
            <span>出金银行卡号</span>
            <span class=" c6">888000111211230</span>
        </li><li class="cp-lia ">
            <span>可出金金额</span>
            <span class=" red fs30">9527.00元</span>
        </li>
        <li class="cp-lia ">
            <span class="c6">申请出金金额</span>
            <div class="cp-fillbx"><input class="cp-inpa" type="text" value="" placeholder="请输入出金金额"></div>
        </li>
        <li class="cp-lia ">
            <span class="c6">请输入支付密码</span>
            <div class="cp-fillbx"><input class="cp-inpa" type="password" value="" placeholder="请输入支付密码"></div>
        </li>
    </ul>
    <p class="go-fg"><a href="javascript:void(0)" onclick="hoptab('pswtk')">忘记密码？</a></p>
    <div class="dc-bt">
        <a class="dc-bta " href="javascript:void(0)">提交</a>
    </div>


    <!-- 弹框 -->
    <div class="dialog pswtk">
        <div class="dialog-bg dialog-close"></div>
        <div class="dialog-cont   ">
            <div class="go-tkbx">
                <p class="go-tkbxp">支付密码设置</p>
                <p class="go-contp">用户出金密码，只能通过主账号修改。建议您定期更换密码，设置一个包含字母,字符或数字中至少两项且长度超过6位。</p>
                
            </div>
            <div class="go-btt">
                <a class="dialog-close" href="javascript:void (0)">取消</a>
                <a class=" go-btta" href="javascript:void (0)">前往设置</a>
            </div>
        </div>
    </div>
</div>