<div class="bargain-management">
    <div class="bm-big">
        <%for(var i=0;i<5;i++){%>
            <ul class="bm-ul">
                <li>合同编号：<i class="fwb">XHCZ01Au201712070001</i></li>
                <li>
                    <span class="sp">订单编号：<i class="c6">MSY001</i></span>
                    <span class="sp">查看合同:<i class="c6">/</i></span>
                </li>
                <li>供方：<i class="fwb">湖南马上银电商有限公司</i></li>
                <li>需方：<i class="fwb">湖南白银贸易有限公司</i></li>
                <li>
                    <span class="sp">品名：<i class="c6">Ag9999</i></span>
                    <span class="sp">数量:<i class="c6">10086.00kg</i></span>
                </li>
                <li>
                    <span class="sp">基准单价：<i class="c6">3851元/kg</i></span>
                    <span class="sp">升水贴:<i class="c6">+2</i></span>
                </li>
                <li>
                    <span class="sp">最终单价：<i class="c6">3851元/kg</i></span>
                    <span class="sp">预估总价:<i class="c6">3822123.00元</i></span>
                </li>
                <li>
                    <span class="sp">当前议价状态：<i class="c6">报价不合适</i></span>
                    <span class="sp">倒计时议价时间:<i class="c6">10:10</i></span>
                </li>
                <li>
                    <span class="sp">当前状态：<i class="c6">卖方不同意</i></span>
                    <span class="sp">
                        <a class="bm-btna" href="javascript:void(0)">再议价</a>
                        <a class="bm-btnb" href="javascript:void(0)">签署合同</a>
                    </span>
                </li>
            </ul>
        <%}%>
    </div>
</div>