<div class="goods-details">
    <div class="gd-bx">
        <ul>
            <li>
                <span>产品编号：<em>123456789</em></span>
                <span>产品名称：<em>白银</em></span>
            </li>
            <li>
                <span>规格：<em>123456789</em></span>
                <span>单价(元/kg)：<em>白银</em></span>
            </li>
            <li>
                <span>开票明细：<em>123456789</em></span>
                <span>数量(kg)：<em>白银</em></span>
            </li>
            <li>
                <span>品牌：<em>11</em></span>
                <span>仓库位置：<em>11</em></span>
            </li>
            <li>
                <span>单价类型：<em>11</em></span>
                <span>升贴水：<em>11</em></span>
            </li>
            <li>
                <span>商品属性：<em>11</em></span>
                <span>产品类型：<em>11</em></span>
            </li>
            <li>
                <span>分类：<em>11</em></span>
                <span>是否生成仓库：<em>11</em></span>
            </li>
            <li>
                <span>最早提货时间：<em>11</em></span>
                <span>最晚提货时间：<em>11</em></span>
            </li>
            <li>
                <span>结算方式：<em>11</em></span>
            </li>
        </ul>
    </div>
    <div class="dc-bt">
        <a class="dc-bta fs30" href="javascript:void(0)">返回订单中心</a>
    </div>
</div>