<div class="check-account">
    <ul class="ts-ula">
        <li class="ts-lia">
            <i class="ts-liai"></i>
            <span class="c6 fs30">最终结算结果</span>
        </li>
        <li class="ts-lia two">
            <span>合同编号</span>
            <span class="c6 fs30">HTXH2001852222252</span>
        </li>
        <li class="ts-lia two">
            <span>合同单价</span>
            <span class="red fs30">3652.00元</span>
        </li>
        <li class="ts-lia two">
            <span>仓库费用</span>
            <span class="red fs30">3565.00元</span>
        </li>
        <li class="ts-lia two">
            <span>订单重量</span>
            <span class="c6 fs30">8022.00kg</span>
        </li>
        <li class="ts-lia two">
            <span>合同金额</span>
            <span class="red fs30">789556.00元</span>
        </li>
        <li class="ts-lia two">
            <span>其他费用</span>
            <span class="red fs30">123.00元</span>
        </li>
        <li class="ts-lia two">
            <span>码单重量</span>
            <span class="c6 fs30">55555.00kg</span>
        </li>
        <li class="ts-lia two">
            <span>订单实际金额</span>
            <span class="red fs30">351111165.00元</span>
        </li>
        <li class="ts-lia two">
            <span>合计已支付金额</span>
            <span class="red fs30">3522222265.00元</span>
        </li>
    </ul>
    <ul class="ts-ula">
        <li class="ts-lia two changeli">
            <div class="ca-bx">
                <i class="ts-liai"></i>
                <span class="c6 fs30">第一次结算</span>
            </div>
            <i class="ca-sjxi"></i>
        </li>
        <li class="ts-lia two">
            <span>结算编号</span>
            <span class="c6 fs30">JX00000125552</span>
        </li>
        <li class="ts-lia two">
            <span>订单重量</span>
            <span class="c6 fs30">212.002kg</span>
        </li>
        <li class="ts-lia two">
            <span>码单重量</span>
            <span class="c6 fs30">212.002kg</span>
        </li>
        <li class="ts-lia two">
            <span>合同单价</span>
            <span class="red fs30">3565.00元/kg</span>
        </li>
        <li class="ts-lia two">
            <span>合同实际金额</span>
            <span class="red fs30">3565.00元</span>
        </li>
        <li class="ts-lia two">
            <span>已支付的金额</span>
            <span class="red fs30">3565.00元</span>
        </li>
        <li class="ts-lia two">
            <span>订单实际金额</span>
            <span class="red fs30">3565.00元</span>
        </li>
        <li class="ts-lia two">
            <span>差价</span>
            <span class="red fs30">3565.00元</span>
        </li>
        <li class="ts-lia two">
            <span>是否支付仓储费</span>
            <span class="c6 fs30">未线下支付</span>
        </li>
        <li class="ts-lia two">
            <span>仓储费用</span>
            <span class="red fs30">3565.00元</span>
        </li>
        <li class="ts-lia two">
            <span>其他费用</span>
            <span class="red fs30">3565.00元</span>
        </li>
        <li class="ts-lia two">
            <span>备注</span>
            <span class="c6 fs30">123</span>
        </li>
        <li class="ts-lia two">
            <span>异议</span>
            <span class="c6 fs30">无</span>
        </li>
        <li class="ts-lia two">
            <span>本次结算合计</span>
            <span class="red fs30">3565.00元</span>
        </li>
        <li class="ts-lia two">
            <span>本次结算已支付</span>
            <span class="red fs30">3565.00元</span>
        </li>
        <li class="ts-lia two">
            <span>本次结算未支付</span>
            <span class="red fs30">3565.00元</span>
        </li>
        <li class="ts-lia two">
            <span>已退款金额</span>
            <span class="red fs30">3565.00元</span>
        </li>
        <li class="ts-lia two ts-lib">
            <span>第一次退款凭证</span>
            <div class="ts-lipic scale-img">
                <img src="./front/images/c-fyaa.png" alt="">
                <p class="fs18">请点击图片放大</p>
            </div>
        </li>
        <li class="ts-lia two">
            <span>退款流水号</span>
            <span class="c6 fs30">100112232</span>
        </li>
    </ul>
    <ul class="ts-ula hide">
            <li class="ts-lia two changeli">
                <div class="ca-bx">
                    <i class="ts-liai"></i>
                    <span class="c6 fs30">第二次结算</span>
                </div>
                <i class="ca-sjxi"></i>
            </li>
            <li class="ts-lia two">
                <span>结算编号</span>
                <span class="c6 fs30">JX00000125552</span>
            </li>
            <li class="ts-lia two">
                <span>订单重量</span>
                <span class="c6 fs30">212.002kg</span>
            </li>
            <li class="ts-lia two">
                <span>码单重量</span>
                <span class="c6 fs30">212.002kg</span>
            </li>
            <li class="ts-lia two">
                <span>合同单价</span>
                <span class="red fs30">3565.00元/kg</span>
            </li>
            <li class="ts-lia two">
                <span>合同实际金额</span>
                <span class="red fs30">3565.00元</span>
            </li>
            <li class="ts-lia two">
                <span>已支付的金额</span>
                <span class="red fs30">3565.00元</span>
            </li>
            <li class="ts-lia two">
                <span>订单实际金额</span>
                <span class="red fs30">3565.00元</span>
            </li>
            <li class="ts-lia two">
                <span>差价</span>
                <span class="red fs30">3565.00元</span>
            </li>
            <li class="ts-lia two">
                <span>是否支付仓储费</span>
                <span class="c6 fs30">未线下支付</span>
            </li>
            <li class="ts-lia two">
                <span>仓储费用</span>
                <span class="red fs30">3565.00元</span>
            </li>
            <li class="ts-lia two">
                <span>其他费用</span>
                <span class="red fs30">3565.00元</span>
            </li>
            <li class="ts-lia two">
                <span>备注</span>
                <span class="c6 fs30">123</span>
            </li>
            <li class="ts-lia two">
                <span>异议</span>
                <span class="c6 fs30">无</span>
            </li>
            <li class="ts-lia two">
                <span>本次结算合计</span>
                <span class="red fs30">3565.00元</span>
            </li>
            <li class="ts-lia two">
                <span>本次结算已支付</span>
                <span class="red fs30">3565.00元</span>
            </li>
            <li class="ts-lia two">
                <span>本次结算未支付</span>
                <span class="red fs30">3565.00元</span>
            </li>
            <li class="ts-lia two">
                <span>已退款金额</span>
                <span class="red fs30">3565.00元</span>
            </li>
            <li class="ts-lia two ts-lib">
                <span>第二次退款凭证</span>
                <div class="ts-lipic scale-img">
                    <img src="./front/images/c-fyaa.png" alt="">
                    <p class="fs18">请点击图片放大</p>
                </div>
            </li>
            <li class="ts-lia two">
                <span>退款流水号</span>
                <span class="c6 fs30">100112232</span>
            </li>
        </ul>
   
   
    
</div>