<div class="generate-letter">
    <div class="gl-iframe">
        <iframe src="https://testapi.fadada.com:8443/api//vi//i//viewdocs.action?app?app_id=400891&timestamp=20180905144103&v=2.0&msg_digest=OTQ4NEY2QzFDMUMwRTRFQTFBNTkxMDM5MDhEQzNCMEMyQjk1OTQwQQ==&send_app_id=&transaction_id=SDQZ201809051436364876"></iframe>
    </div>
    <div class="fc-btn">
        <a class="fc-btna" href="javascript:void(0)">生成二维码</a>
        <a class="" href="javascript:void(0)">返回订单</a>
    </div>
</div>