
<div class="open-order">
  <div class="oo-top-tip">
    <i class="gtIcon"></i>
    <span>温馨提示：选择好你需要开票的列表后点击确认开票</span>
  </div>
  <ul class="oo-list kk-list">
    <%for(var i=0;i<7;i++){%>
    <li>
      <div>可开票金额：<em class="ool-money">500,000,000.0元</em></div>
      <div class="ool-page">
        <div>已开票金额：<em>500,000.0元</em></div>
        <div>合同金额：<em>3,876,123,00元</em></div>
      </div>
      <div class="ool-page">
        <div>订单编号：<span>AG9999</span> </div>
        <div>合同编号：<span>FP-20180102201</span> </div>
      </div>
      <div class="ool-btnbox">
        <a href="javascript:;;" class="on">查看订单</a>
        <a href="javascript:;;">查看合同</a>
      </div>
    </li>
    <%}%>
  </ul>

  <div class="oo-footbox">
    <div class="kk-footbox">
     <span>合计：<em>1500,000.00000</em>元</span>
     <a href="javascript:;;" class="cr-qed">确认开票</a>
    </div>
  </div>
</div>