<div class="delive-confirmation">
    <!-- 提示 -->
    <div class="dc-header">
      <div class="dcd-name"><i class="gtIcon"></i><span>温馨提示：</span> </div>
      <div class="dcd-txt">预付款金额可以冲抵最后一次提货金额</div>
    </div>
    <!-- 内容 -->
    <ul class="dc-section">
      <li>
        <span>首次确认单价</span>
        <input type="text" readonly value="3776.00元/kg(3653+123)">
      </li>
      <li>
        <span>订单总金额</span>
        <input type="text" readonly value="1372953.60元">
      </li>
      <li>
          <span>预付款金额</span>
          <input type="text" readonly value="1372953.60元">
        </li>
      <li>
        <span>已付货款</span>
        <input type="text" class="dcs-red" readonly value="10,000,000.00元">
      </li>
      <li>
        <span>订单总数量</span>
        <input type="text" readonly value="1212.0000kg">
      </li>
      <li>
        <span>现可提的数量</span>
        <input type="text" readonly value="1212.0000kg">
      </li>
      <li class="dcs-tiems">
          <span>是否使用预付款冲抵货款</span>
          <div class="slc-box active">
            <input type="text" readonly data-source="0" class="slc-curr" value="" placeholder="请选择">
            <ul class="slc-list">
              <li data-source="0">不使用</li>
              <li data-source="1">使用</li>
            </ul>
          </div>
        </li>
      <li>
        <span>请填写提货数量</span>
        <input type="text" placeholder="请填写本次提货数量" value="">
      </li>
      <li>
        <span>剩余预付款金额</span>
        <input type="text" readonly value="0元">
      </li>
      <li>
        <span>最晚提货时间</span>
        <input type="text" readonly value="2017/12/12">
      </li>
      <li class="dcs-tiems">
        <span><em class="dcs-red">*</em>本次提货时间</span>
        <input type="text" readonly value="" placeholder="请选择本次提货时间">
      </li>
      <li>
        <span>本次提货金额</span>
        <input type="text" class="dcs-red" readonly value="10,000,000.00元">
      </li>
      <li>
        <span>提货仓库</span>
        <input type="text" readonly value="上海 - 飞平">
      </li>
      <li>
        <span>提本次提货所需金额</span>
        <input type="text" class="dcs-red" readonly value="10,000,000.00元">
      </li>
    </ul>
    <div class="ad-foot-smallbtn ">
      <div class="cr-footbox">
          <a href="javasctipt:;;">取消</a>
          <a href="javasctipt:;;"  class="cr-qed ad-sublime">提交</a>
      </div>
    </div>
    <div class="cc-alert-zfbox">
      <div class="ps-xuanze">
        <span>请选择支付方式</span>
      </div>
      <div class="ps-zfbxo">
        <a href="javascript:;;">
          <div class="psz-pa"><img src="./front/images/icon/pinan.png" alt=""></div>
          <p>平安现货交易通</p>
        </a>
        <a href="javascript:;;">
          <div class="psz-xx"><img src="./front/images/icon/xianxia.png" alt=""></div>
          <p>线下支付</p>
        </a>
      </div>
    </div>
  </div>