<div class="help-center">
  <ul class="l-qxListBox">
    <%for(var i=0;i<6;i++){%>
      <li class="l-qxList">
        <div class="l-qxopcaect">
          <img src="./front/images/scales.png" alt="">
          <p>法律声明</p>
        </div>
      </li>
    <%}%>
  </ul>
</div>