<div class="confirm-receive">
    <ul class="ts-ula">
        <li class="ts-lia two">
            <span>企业汇款银行</span>
            <span class="c6 fs30">中国银行</span>
        </li>
        <li class="ts-lia two">
            <span>企业汇款卡号</span>
            <span class="c6 fs30">43100000002510022</span>
        </li>
        <li class="ts-lia two">
            <span>平台开户银行</span>
            <span class="c6 ">华融湘江银行股份有限公司郴州东城支行</span>
        </li>
        <li class="ts-lia two">
            <span>平台银行卡号</span>
            <span class="c6 fs30">71040309000017568</span>
        </li>
        <li class="ts-lia two">
            <span class="c6">是否通过</span>
            <div class="slc-box active">
                <input type="text" readonly data-source="" class="slc-curr c6 fs30" value="" placeholder="请选择">>
                <ul class="slc-list">
                    <li data-source="0" class="">同意收款</li>
                    <li data-source="1">拒绝收款</li>
                </ul>
            </div>
        </li>
        <li class="ts-lia two">
            <span>平台汇款金额</span>
            <span class="red fs30">123333.00</span>
        </li>
        <li class=" ts-lib">
            <p>上传交易凭证</p>
            <div class="ts-file">
                <div class="ts-filel">
                    <span>
                        <i></i>
                        <input type="file">
                    </span>
                    <p>请用手机扫描</p>
                </div>
                <div class="ts-filer scale-img">
                    <p class="fs18">示例</p>
                    <img src="./front/images/c-cwpz.png" alt="">
                    
                </div>
            </div>
        </li>
        
    </ul>
  
    <div class="dc-bt">
        <a class="dc-bta fs30" href="javascript:void(0)">提交</a>
    </div>
   
</div>