<div class="main-index">
  <!-- 轮播图 -->
  <div class="mr-scroll-wall">
      <%= scrollWall %>
  </div>
  <!-- 4个入口菜单 -->
  <div class="mi-cimenubox">
    <a href="javascript:;;">
      <div class="mic-imgpage">
          <img src="./front/images/icon/cmenu_hq.png" alt="">
      </div>
      <p>行情信息</p>
    </a>
    <a href="javascript:;;">
      <div class="mic-imgpage">
          <img src="./front/images/icon/cmenu_yjb.png" alt="">
      </div>
      <p>银价宝</p>
    </a>
    <a href="javascript:;;">
      <div class="mic-imgpage">
          <img src="./front/images/icon/cmenu_cg.png" alt="">
      </div>
      <p>采购大厅</p>
    </a>
    <a href="javascript:;;">
      <div class="mic-imgpage">
          <img src="./front/images/icon/cmenu_gd.png" alt="">
      </div>
      <p>我要挂单</p>
    </a>
  </div>
  <!-- 价格刷新 -->
  <div class="mi-moneybox">
    <div class="mim-page">
      <span>今日白银均价</span>
      <span class="mim-nums">3870</span>
    </div>
    <div class="mim-jg">
      <div>白银价格</div>
      <div>
        <p>白银(T+D)</p>
        <p class="min-weid">3812</p>
        <p class="min-green">-0.22-1.28%</p>
      </div>
      <div>
          <p>沪银主力</p>
          <p class="min-weid">3812</p>
          <p class="min-green">-0.22-1.28%</p>
      </div>
    </div>
  </div>
  <!-- 资讯 -->
  <div class="mi-zxbox">
    <div class="miz-qian">
        <i class="miz-zxicon"></i>
        <span>资讯：</span>
    </div>
    <div class="notice-con">
      <ul class="notice-txt">
        <% for(var i =0;i<5;i++){%>
          <li>
            <a href="javascript:;" class="notice-new">
              <%= i+1 %>北京市海淀法院10月告拍品日预北京市海淀法院10月告拍品日预告告
            </a>
          </li>
        <%}%>
      </ul>
    </div>
  </div>
  <!-- 自营_轮播 -->
  <div class="mi-zybox">
    <div class="miz-title">
      <span class="mizt-bl">自营-按提货地点</span>
      <!-- <span class="mizt-more">查看更多</span> -->
    </div>
    <div class="miz-swiperbox">
      <div class="swiper-heng swiper-trialDetail">
          <div class="swiper-wrapper">
            <%for(var i=0;i<6;i++){%>
              <div class="swiper-slide">
                  <div class="mizt-box">
                    <div class="mizt-title">自营热门</div>
                    <div class="mizt-ptpage">
                      <div class="mizt-qh">
                        <em>TD</em><em>+1</em>
                      </div>
                      <div class="mizt-ck"><i class="mizz-weizhiIcon"></i>上海 - 平飞</div>
                      <div class="mizt-slbox"><p>库存数量:</p><p>2000.0000kg</p></div>
                      <div class="mizt-slbox"><p class="mizt-cj">成交数量:</p><p>12000.0000kg</p></div>
                    </div>
                    <div class="mizt-btnbox">
                        <a href="javascript:;" class="mizb-btn miz-hui">一口价</a>
                        <a href="javascript:;" class="mizb-btn on">我要议价</a>
                    </div>
                    <p class="mizt-times">2017-11-20</p>
                  </div>
                </div>
            <%}%>
          </div>
        </div>
    </div>
  </div>
  <!-- 自营_最新热门(白银) -->
  <div class="mi-zybox">
    <div class="miz-title">
      <span class="mizt-bl">自营-最新热门(白银)</span>
      <span class="mizt-more">查看更多</span>
    </div>
    <ul class="mizn-listbox">
      <li>
        <div class="mizl-zs">
          <em class="miz-yuan">整</em>
          <span class="miz-jgs">TD<em class="miz-red">+1</em></span>
        </div>
        <div>
          <p>白银1</p>
          <p>5000.0000kg</p>
        </div>
        <div class="miz-ckbox">
          <p>金贵</p>
          <p>上海-平飞</p>
        </div>
        <div class="miz-zf">
          <label class="miz-yp">非当月票</label>
          <a href="javascript:;;"><i class="miz-zficon"></i>可转发</a>
        </div>
        <div>
          <p>2017-11-20</p>
          <a href="javascript:;;" class="miz-gm miz-hui">当前可买</a>
        </div>
      </li>
      <li>
          <div class="mizl-zs">
            <em class="miz-yuan">仓</em>
            <span class="miz-jgs">TD<em class="miz-lv">-2</em></span>
          </div>
          <div>
            <p>白银1</p>
            <p>5000.0000kg</p>
          </div>
          <div class="miz-ckbox">
            <p>金贵</p>
            <p>上海-平飞</p>
          </div>
          <div class="miz-zf">
            <label class="miz-yp">当月票</label>
            <a href="javascript:;;"><i class="miz-zficon"></i>可转发</a>
          </div>
          <div>
            <p>2017-11-20</p>
            <a href="javascript:;;" class="miz-gm">当前可买</a>
          </div>
        </li>
        <li>
          <div class="mizl-zs">
            <em class="miz-yuan">散</em>
            <span class="miz-jgs miz-hyzl">沪银主力<em class="miz-lv">-48</em></span>
          </div>
          <div>
            <p>白银1</p>
            <p>5000.0000kg</p>
          </div>
          <div class="miz-ckbox">
            <p>金贵</p>
            <p>上海-平飞</p>
          </div>
          <div class="miz-zf">
            <label class="miz-yp">当月票</label>
            <a href="javascript:;;"><i class="miz-zficon"></i>可转发</a>
          </div>
          <div>
            <p>2017-11-20</p>
            <a href="javascript:;;" class="miz-gm">当前可买</a>
          </div>
        </li>
    </ul>
  </div>
  <!-- 自营_最新热门(精矿) -->
  <div class="mi-zybox">
    <div class="miz-title">
      <span class="mizt-bl">自营-最新热门(精矿)</span>
      <div class="mizt-more">
        <div class="mizt-qieh">
          <span class="active" onclick="tabMizt(this)">整单</span>
          <span onclick="tabMizt(this)">子单</span>
        </div>
        <a href="#">查看更多</a>
      </div>
    </div>
    <ul class="mizn-listbox">
      <li>
        <div class="mizl-zs">
          <em class="miz-yuan">子</em>
          <span class="miz-jgs "><em class="miz-red">铅精矿</em></span>
        </div>
        <div class="mizl-jk-page">
          <div class="mijk-head">
            <div>1756.1260T</div>
            <div>点价/均价</div>
            <div class="miz-zf">
              <label class="miz-yp">采购</label>
            </div>
          </div>
          <div class="mijk-foot">
              铅Pd>50%、银Ag≥1000克、金Au≥1克铅Pd>50%、银Ag≥1000克、金Au≥1克
          </div>
        </div>
        <div>
          <p>2017-11-20</p>
          <a href="javascript:;;" class="miz-gm">当前可买</a>
        </div>
      </li>
      <li>
        <div class="mizl-zs">
          <em class="miz-yuan">子</em>
          <span class="miz-jgs "><em class="miz-red">银精矿</em></span>
        </div>
        <div class="mizl-jk-page">
          <div class="mijk-head">
            <div>1756.1260T</div>
            <div>点价/均价</div>
            <div class="miz-zf">
              <label class="miz-yp">采购</label>
            </div>
          </div>
          <div class="mijk-foot">
              铅Pd>50%、银Ag≥1000克、金Au≥1克铅Pd>50%、银Ag≥1000克、金Au≥1克
          </div>
        </div>
        <div>
          <p>2017-11-20</p>
          <a href="javascript:;;" class="miz-gm">当前可买</a>
        </div>
      </li>
    </ul>
  </div>
  <!-- 自营_产能预售 -->
  <div class="mi-zybox">
    <div class="miz-title">
      <span class="mizt-bl">自营-产能预售</span>
      <span class="mizt-more">查看更多</span>
    </div>
    <ul class="mizn-listbox">
      <li>
        <div class="mizl-zs">
          <em class="miz-yuan">整</em>
          <span class="miz-jgs">TD<em class="miz-red">+1</em></span>
        </div>
        <div>
          <p>白银1</p>
          <p>5000.0000kg</p>
        </div>
        <div class="miz-ckbox">
          <p>金贵</p>
          <p>上海-平飞</p>
        </div>
        <div class="miz-zf">
          <label class="miz-yp">非当月票</label>
          <a href="javascript:;;"><i class="miz-zficon"></i>可转发</a>
        </div>
        <div>
          <p>2017-11-20</p>
          <a href="javascript:;;" class="miz-gm">当前可买</a>
        </div>
      </li>
      <li>
          <div class="mizl-zs">
            <em class="miz-yuan">仓</em>
            <span class="miz-jgs">TD<em class="miz-lv">-2</em></span>
          </div>
          <div>
            <p>白银1</p>
            <p>5000.0000kg</p>
          </div>
          <div class="miz-ckbox">
            <p>金贵</p>
            <p>上海-平飞</p>
          </div>
          <div class="miz-zf">
            <label class="miz-yp">当月票</label>
            <a href="javascript:;;"><i class="miz-zficon"></i>可转发</a>
          </div>
          <div>
            <p>2017-11-20</p>
            <a href="javascript:;;" class="miz-gm">当前可买</a>
          </div>
        </li>
        <li>
          <div class="mizl-zs">
            <em class="miz-yuan">散</em>
            <span class="miz-jgs miz-hyzl">沪银主力<em class="miz-lv">-48</em></span>
          </div>
          <div>
            <p>白银1</p>
            <p>5000.0000kg</p>
          </div>
          <div class="miz-ckbox">
            <p>金贵</p>
            <p>上海-平飞</p>
          </div>
          <div class="miz-zf">
            <label class="miz-yp">当月票</label>
            <a href="javascript:;;"><i class="miz-zficon"></i>可转发</a>
          </div>
          <div>
            <p>2017-11-20</p>
            <a href="javascript:;;" class="miz-gm">当前可买</a>
          </div>
        </li>
    </ul>
  </div>
  <!-- 自营_最新成交信息(白银) -->
  <div class="mi-zybox">
    <div class="miz-title">
      <span class="mizt-bl">最新成交信息(白银)</span>
      <span class="mizt-more">查看更多</span>
    </div>
    <ul class="mizn-msgbox">
      <%for(var i =0;i<3;i++){%>
        <li>
          <div class="mil-page">
            <span>白银/国际1#/99.99%</span>
            <span>600.0000kg</span>
            <span class="mil-bor">当月票</span>
          </div>
          <div class="mil-ck"> 
            <p class="money">
              <em class="miz-yuan">整</em>
              <span>4294</span>
            </p>
            <p class="br">上海-平飞</p>
            <p>金贵</p>
          </div>
          <div class="mil-tiems">成交时间：2017-11-20</div>
        </li>
      <%}%>
    </ul>
  </div>
  <!-- 自营_最新成交信息(精矿) -->
  <div class="mi-zybox">
    <div class="miz-title">
      <span class="mizt-bl">最新成交信息(精矿)</span>
      <span class="mizt-more">查看更多</span>
    </div>
    <ul class="mizn-msgbox">
      <%for(var i =0;i<3;i++){%>
        <li>
          <div class="mil-page">
            <em>铅Pd>50%、银Ag≥1000克、金Au≥1克</em>
            <span class="mil-bor">年结算</span>
          </div>
          <div class="mil-ck"> 
            <p class="money">
              <em class="miz-yuan">整</em>
              <span>4294</span>
            </p>
            <p class="br">上海-平飞</p>
            <p>金贵</p>
          </div>
          <div class="mil-tiems">成交时间：2017-11-20</div>
        </li>
      <%}%>
    </ul>
  </div>
  <div class="mi-zybox">
    <div class="miz-title">
      <span class="mizt-bl">银制品、我司自营银条回收</span>
      <span class="mizt-more">查看更多</span>
    </div>
    <ul class="miz-lianxi">
      <li>
        <em>回收方式</em>
        <span>客户上门申请回收/客户申请我司上门回收</span>
      </li>
      <li>
        <em>联系人</em>
        <span>朱海雄</span>
      </li>
      <li>
        <em>联系地址</em>
        <span>湖南郴州国家级高新区林大道1号创新创业园2栋</span>
      </li>
      <li>
        <em>联系电话</em>
        <span>400-666-3989</span>
      </li>
    </ul>
  </div>
  <div class="mi-zybox">
    <div class="miz-title">
      <span class="mizt-bl">合作单位</span>
      <!-- <span class="mizt-more">查看更多</span> -->
    </div>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <%for(var j=0;j<2;j++){%>
            <div class="swiper-slide">
              <div class="miz-swiperbox-tow">
                <%for(var i =0;i<3;i++){%>
                <a href="javascript:;;">
                    <div class="mizs-img">
                        <img src="./front/images/pinan.png" alt="">
                    </div>
                    <p>中船重工物贸集团</p>
                  </a>
                  <a href="javascript:;;">
                    <div class="mizs-img">
                        <img src="./front/images/pinan.png" alt="">
                    </div>
                    <p> 平安银行</p>
                  </a>
                  <a href="javascript:;;">
                    <div class="mizs-img">
                        <img src="./front/images/pinan.png" alt="">
                    </div>
                    <p> 飞平物流</p>
                  </a>
                <%}%>
              </div>
            </div>
          <%}%>
        </div>
        <!-- 分页器 -->
        <div class="swiper-pagination swiper-hezuo-pagination"></div>
      </div>
  </div>

  <!-- 尾部描述 -->
  <div class="mi-foot-ms">
    <a href="javascript:;;" class="mifm-linkapp">
      <div class="mifm-img">
        <img src="./front/images/icon/appdown.png" alt="">
      </div>
      <p class="mifm-apptxt">前往下载马上银APP</p>
    </a>
    <div class="mifm-yl-box">
      <span>友情链接：</span>
      <div class="mifmb-link-box">
        <a href="javascript:;;">正威国际</a>
        <a href="javascript:;;">中船重工</a>
        <a href="javascript:;;">大冶有色金属</a>
        <a href="javascript:;;">金贵银业</a>
        <a href="javascript:;;">金旺铋业</a>
        <a href="javascript:;;">正和通供应链</a>
      </div>
    </div>
    <div class="mifm-bztxt">
      <p>© 马上银 2017  湘ICP备17020753号-1</p>
    </div>
  </div>
    
  <!-- TD || 期 -->
  <div class="mi-td" onclick="tabTd(this)">TD</div>
  <!-- 右侧 AG 沪银主力 -->
  <div class="mi-hybox">
    <i class="mih-jtICon" onclick="miboxShow(this)"></i>
    <div class="mih-section">
      <div class="mihs-page">
        <p>Ag(T+D)</p>
        <div>
          <em>3621</em>
          <span><i class="mihs-jtIcon"></i>-9</span>
          <span><i class="mihs-jtIcon"></i>-0.25%</span>
        </div>
      </div>
      <div>
        <p>沪银主力</p>
        <div>
          <em>3621</em>
          <span><i class="mihs-jtIcon"></i> -9</span>
          <span><i class="mihs-jtIcon"></i>-0.25%</span>
        </div>
      </div>
    </div>
  </div>
</div>