<div class="enterprise-introduction">
  <div class="ei-box">
      <img src="http://placehold.it/750x340/6fc3ff/fff.png" alt="">
      <h1>马上银工业互联网平台介绍</h1>
      <p class="eib-txt">湖南马上银电子商务有限公司成立于2017年9月，注册资本5000万，是一家专注于白银全产业链服务的产业互联网公司。公司控股股东深圳正威（集团）有限公司是一家以有色金属完整产业链为主导的全球化集团公司，2017年，以3300亿营业收入排名世界500强第183位。
          <br/>公司现有员工平均年龄31岁，本科以上学历占66.67%，硕士研究生占9.09%，博士后占3.03%，有海外学习工作经历人员占12.12%。
          <br/>马上银B2B产业电商平台以信息技术为基础，运用区块链、物联网、电子仓单、电子合同等，提升行业整体信用；以供应链金融为核心，整合精矿、冶炼、银锭、工业用银企业、银制品企业等白银产业链资源，提升产业协同效率；以区域布局为抓手，通过遍布全国重点区域的仓储物流合作，实现“网上交易、就近交货”，提升物流仓储效率。围绕在线供应链金融、行情资讯、期现结合工具、智慧物流、产业特色采购与销售等服务，构建开放、共享、公平、互惠的白银产业链服务平台。</p>
  </div>
</div>