<div class="transace-detail">
    <div class="td-bx">
        <p class="fs60 red">1000.00<em class="fs24">元</em></p>
        <p class="fs24 c9 mt10">支出金额</p>
        <ul class="td-ul">
            <li>支付方式：<span class="c6">线下支付</span></li>
            <li>款项用途：<span class="c6">出金</span></li>
            <li>发生时间：<span class="c6">2017-01-01 00:00:12</span></li>
            <li>流水号：<span class="c6">20180503171335285023</span></li>
            <li>订单编号：<span class="c6">20180503171335285023</span></li>
        </ul>
    </div>
</div>