<div class="retrieve-password">
  <ul class="rp-listbox">
    <li>
      <div>
        <i class="rpl-shouji"></i>
        <input type="text" placeholder="请输入您的手机号">
      </div>
    </li>
    <li>
      <div>
        <i class="rpl-yzm"></i>
        <input type="text" placeholder="输入手机验证码">
      </div>
      <button class="rplyzm-btn" onclick="sendemail()">获取验证码</button>
    </li>
    <li>
      <div>
        <i class="rpl-mima"></i>
        <input type="text" placeholder="请输入6~12位的密码">
      </div>
    </li>
    <li>
      <div>
        <i class="rpl-mima"></i>
        <input type="text" placeholder="请再次输入6~12位的密码">
      </div>
    </li>
  </ul>
  <a href="javascript:;;" class="rp-sublime">提交</a>
</div>