<div class="delivery-payment">

    <ul class="ts-ula">
        <li class="ts-lia ">
            <span>&bull;</span>
            <span class=" ml10">当前订单金额需付xxxx元，请及时支付!</span>
        </li>
        <li class="ts-lia ">
            <span>&bull;</span>
            <span class=" ml10">我方平台银行信息</span>
        </li>
        <li class="ts-lia ">
            <span>&bull;</span>
            <span class=" ml10">开户银行：华融湘江银行股份有限公司郴州东城支行</span>
        </li>
        <li class="ts-lia ">
            <span>&bull;</span>
            <span class=" ml10">账号：7104 0309 0000 1756 8</span>
        </li>
    </ul>
    <ul class="ts-ula">
        <li class="ts-lia two">
            <span>填写线下汇款银行</span>
            <div class="dp-fillbx"><input class="dp-inpa" type="text" placeholder="请填写线下汇款银行"></div>
        </li>
        <li class="ts-lia two">
            <span>填写线下汇款卡号</span>
            <div class="dp-fillbx"><input class="dp-inpa" type="text" placeholder="请填写线下汇款卡号"></div>
        </li>
        <li class="ts-lia two">
            <span>填写线下汇款金额</span>
            <div class="dp-fillbx"><input class="dp-inpa" type="text" placeholder="请填写线下汇款金额"></div>
        </li>
    </ul>
    <div class="cp-tips">
        <i class="gtIcon"></i>
        <span>请填写以上信息并且在已经付款完成的情况下点击完成线下支付按钮</span>
    </div>
    <div class="cp-bt ">
        <p class="cp-btp">
            <i></i>
            <span class="c6">操作</span>
        </p>
        <div class="fc-btn">
            <a class="fc-btna" href="javascript:void(0)">我已完成线下支付</a>
            <a class="" href="javascript:void(0)">选择在线支付</a>
        </div>
    </div>
</div>